[2018-11-26 13:57] #140 closed, assigned to nobody

[2018-11-26 21:30] Rene-Damm opened #314 "[Actions] Wrong path when binding by usage"
When selection from the "Usages" list in the control picker, the generated path will be something like `*/PrimaryAction` instead of `*/{PrimaryAction}`.

[2018-11-26 21:55] Rene-Damm opened #315 "[OSX] Cmd-space to maximize view broken when new input system enabled"
https://forum.unity.com/threads/input-system-update.508660/page-8#post-3926221

[2018-11-27 16:10] tomekpaszek commented on #314
fixed on asset-editor branch

[2018-11-28 10:43] danielheim opened #317 "[OSX][Gamepad] DualShock 4 does not work in OSX"
Pair DualShock 4 as per instruction on [imore.com](https://www.imore.com/how-connect-playstation-4-dualshock-4-controller-your-mac)

Device comes through with "Unknown" manufacturer to `UnityEngine.Experimental.Input.InputManager.OnNativeDeviceDiscovered`.
Device is listed as "Unknown Wireless Controller" in Input Debug Window.
Manufacturer is listed as "Qualcomm Atheros (0x5, 0x00)" in OSX System

[2018-11-30 04:04] Rene-Damm commented on #317
We have issues with HIDs connected via Bluetooth that need to be looked at. My guess is this comes down to the same problem. Does the controller work for you when you go wired?

Bluetooth has a weird relation to USB HID and my guess is that both on Windows and OSX, we're not doing things right yet to properly support the same HIDs on BT as compared to USB.

[2018-11-30 04:05] #314 closed, assigned to tomekpaszek

[2018-11-30 04:09] Rene-Damm commented on #309
Confirmed. Should be slightly better on latest head of the develop branch but we still lose editing state when saving.

[2018-11-30 04:10] Rene-Damm commented on #302
@renaldasrep Is this fixed by Tomas's change?

[2018-11-30 07:42] periodyctom opened #321 "unsafe keyword compile error in Users_CanPairDevice_WhenDeviceNeedsPlatformLevelUserAccountSelection"
When I do a fresh pull with the latest from github + 2018.3 beta (.NET 4.6/Std 2.0 w/ C# 7.3), I get the following error:

Packages\com.unity.inputsystem\Tests\InputSystem\Plugins\UserTests.cs(143,18): error CS0214: Pointers and fixed size buffers may only be used in an unsafe context

The error comes from Users_CanPairDevice_WhenDeviceNeedsPlatformLevelUserAccountSelection

Remove the unsafe bloc

[2018-11-30 09:26] danielheim commented on #317
Thanks for the tip. The DualShock 4 does work when wired, as per [MacWorld](https://www.macworld.co.uk/how-to/mac/use-ps4-xbox-controller-mac-3626259) instructions, although I'm not sure if the acceleration and angular velocity values are accurate. The manufacturer is displayed as "Sony Computer Entertainment". I have a wired XBox 360 controller which works fine too.

Looking forward to Bluetooth

[2018-11-30 17:44] douglas-piconi commented on #184
Fixed and tests added to check for warnings.

[2018-11-30 17:44] #184 closed, assigned to Rene-Damm

[2018-11-30 17:46] douglas-piconi commented on #27
Many different fixes related to this.  Should be working now

[2018-11-30 17:46] #27 closed, assigned to nobody

[2018-11-30 17:47] douglas-piconi commented on #74
Fixed with sensitivity bug

[2018-11-30 17:47] #74 closed, assigned to nobody

[2018-11-30 17:48] douglas-piconi commented on #144
Fixed with sensitivity bug fix.

[2018-11-30 17:48] #144 closed, assigned to nobody

[2018-12-01 07:52] periodyctom commented on #39
Have seen something simliar on one Windows box (but oddly not on another). Issue occurs on 2018.3b12 (latest as of this writing) using latest commits. Issue doesn't seem to occur on an older version of my project on 2018.3b10 using InputSystem/develop commits from about a month or so ago.

EDIT: To add a bit more clarity, 0 devices appear and no events are captured by the game side. The editor int

[2018-12-01 08:20] periodyctom commented on #39
Unable to create a reliable repro, but it seems to happen most often when debugging and changing code from my IDE (in this case, rider). I'm not writing running Unit tests for the latest changes I've been making yet.

[2018-12-01 08:21] periodyctom commented on #321
Addendum: this was in both beta 10 and beta 12

[2018-12-03 08:34] periodyctom opened #325 "XBox One and PS4 Controller Left Stick reporting bad values when used as DPad Composite"
I will create a better test case tomorrow, but When I set up a leftStick as a DPad composite using the leftStick/up...down...etc bindings, it seems to report bad values for left and down. This occurs when Normalize is checked and unchecked.

Tested on 2018.3b12, Windows 10. Commit: a27f9957d7b4a2e9668cdf43c2cbd085b217d022

[2018-12-03 21:37] periodyctom commented on #39
Seems to happen after recompiling about 4-7 times

I'm using the following setup:
Windows 10
2018.3b12
InputSystem package manually copied from github (will switch to url/official packages later)
Rider 2018.2 stable, C# 7.3 override applied
.NET 4.6, Incremental compiler package at latest on staging.
using latest ECS, burst, math packages.

[2018-12-03 22:27] Rene-Damm commented on #321
Thanks for the report. Applied the change you mentioned (https://github.com/Unity-Technologies/InputSystem/commit/744640d0d13cbef3da1f6898e2280ec16037caab).

[2018-12-03 22:27] #321 closed, assigned to nobody

[2018-12-03 23:07] Rene-Damm commented on #317
Yup, ATM we only support the gyro on PS4. There's some wiring for the HID version as well but it's not correct (i.e. it's indeed junk you get) and needs to be removed. Seems that unlike for the PS3 controller, the PS4 controller gyro hasn't successfully been reverse-engineered :/

[2018-12-03 23:17] Rene-Damm commented on #325
Hmm, not sure what's up there. The following test passes for me.

[code]

What's the bad values you are getting? Wondering if the problem is actually in the Xbox gamepad layout rather than the action side stuff.

[2018-12-03 23:37] Rene-Damm commented on #269
What about https://stackoverflow.com/questions/16484007/how-to-get-current-keyboard-language?

[2018-12-04 18:59] periodyctom commented on #325
That's very likely.

What I'm getting is either no down or left, or bad values for down or left (basically left just gives me right, as in: left (1, 0) right (1, 0).

I'm at work atm, but I'll try and get you my action map file when I can. Switching back to a normal stick control gives me correct analog values, so it's something with the layout or binding handling.

[2018-12-05 09:54] periodyctom commented on #325
EDIT: Confirmed happening on e8ac9f1895be5739a74f11a8cba3ed8cb8ea5e4b, I haven't tested preview 13 yet.
Tested on two different windows machines, wired and wireless XBOX One controller, same results. The left and down directions from the gamepad left stick are producing bad values or zero.

Copy: of my input assets file and generated script. Note that I disabled normalization, Interactions, and pr

[2018-12-05 10:39] renaldasrep commented on #302
Yep, it's fixed :)

[2018-12-05 10:39] #302 closed, assigned to todi1856

[2018-12-05 19:54] Rene-Damm commented on #313
@james7132 Are you still seeing the problem on 0.0.13-preview?

[2018-12-05 19:55] Rene-Damm commented on #308
Should be fixed in 0.0.13-preview.

[2018-12-05 20:06] Rene-Damm commented on #280
In that case, we may be able to punt on this one. Verdict is still out whether we will ship with the ability to run both systems in parallel. Now that we have UI support, we don't have a hard requirement anymore for this to work.

[2018-12-05 20:47] todi1856 commented on #280
@renaldasrep this was fixed here - https://ono.unity3d.com/unity/unity/pull-request/78822/_/input/new/android

[2018-12-06 00:47] Rene-Damm commented on #309
Should be fixed in https://github.com/Unity-Technologies/InputSystem/commit/78e8afe25e8b87fee7aac01cf9b49d6485771831.

[2018-12-06 00:47] #309 closed, assigned to tomekpaszek

[2018-12-06 00:48] Rene-Damm commented on #284
Seems to be fixed on latest head.

[2018-12-06 00:48] #284 closed, assigned to tomekpaszek

[2018-12-06 01:00] Rene-Damm commented on #273
Sorry, didn't mean to leave you hanging. Dropped the ball on this one.

That's where I'd like to get to. ATM `Update()` is restricted to the main thread. What I'd like to have is the ability to switch the system into a mode where you can instead move `Update()` to a thread of your choosing. It wouldn't be a fully concurrent setup and the API wouldn't be thread-safe (as in, available for concurrent

[2018-12-07 00:50] Rene-Damm commented on #253
Ok, finally seeing this, too. For me, seems to only happen when using the .NET 4 runtime. Haven't seen it when using the .NET 3.5 runtime.

[2018-12-07 01:18] iBicha commented on #253
Yes during testing the project was a .NET 4

[2018-12-07 08:30] james7132 commented on #313
This is still occurring in 0.0.13-preview.

[2018-12-10 20:05] Rene-Damm commented on #317
Should be fixed by https://github.com/Unity-Technologies/InputSystem/commit/b1597755e74c93bbe39a82005285f30ba5f60888.

Turns out that when connected via Bluetooth, the OSX HID API will no longer return product and manufacturer strings. Changed the code to always match by PID and VID by default and use product and manufacturer strings only as fallbacks.

However, also uncovered another bug in the r

[2018-12-10 20:21] jackpr-unity commented on #206
Still exists in 2019.1.0a11 with package version 0.0.11-preview.

As of this moment 0.0.12-preview and 0.0.13-preview are available, but the editor crashes if I try to update to them.

[2018-12-10 20:33] jackpr-unity opened #330 "[XR] Oculus joystick/thumbstick naming is inconsistent"
The 2D Axis for Oculus Touch controller's primary2daxis control is called "joystick" and the touched/clicked corresponding button controls are named "thumbstick(clicked/pressed)"

[2018-12-10 21:36] douglas-piconi commented on #295
Fix under code review.  Will most likely land in 0.0.14 preview.

[2018-12-10 21:43] #295 closed, assigned to douglas-piconi

[2018-12-11 06:43] dave24BG opened #332 "[TOUCH SCREEN] Binding Actions to <Touchscreen>/touch from editor does not work on device"
If you use the Input Action Editor and create a binding for Touch Screen touch, the bind that it generates is `'<Touchscreen>/touch',` however if you use this on a device the touch does not seem to work, only if you click the 'v' and manually add the binding as `<touchscreen>/<touch>` will the touches work on device.

Expected behavior: Create a binding using the editor window for Abstract Devices

[2018-12-11 20:07] jackpr-unity opened #333 "[XR] Vive controller triggerPressed is confusing"
This seems to activate when the trigger exceeds 0.05 or 0.1?  That's...different than previous behavior and also every other device.  Is this really what comes from the SteamVR API?

editor 18.3.0f1
package version 0.0.11-preview

[2018-12-11 20:08] jackpr-unity opened #334 "[XR] The Vive Controller touchpad control naming is inconsistent"
the 2d axis is "touchpad"
the 2d axis touch is "joystickorpadpressed"
the 2d axis click is "joystickorpadtouched"

I recommend having them all based on touchpad.  I.E. touchpad, touchpadpressed, touchpadtouched.

[2018-12-11 20:09] jackpr-unity commented on #334
Found with editor version 2018.3.0f1 and package version 0.0.11-preview

[2018-12-11 21:38] jackpr-unity opened #335 "[XR] WMR tracking state reports controller device acceleration as valid, but no binding exists"
package version 0.0.14-preview
unity editor 2018.3.0f1

The WMR controller tracking state control reports that device acceleration is valid, but there is no mapping for device acceleration in the list of Input Actions on a component with a public Input Action.

[2018-12-11 22:27] douglas-piconi commented on #245
Fixed in develop, will make it to 0.0.15-preivew

[2018-12-11 22:27] #245 closed, assigned to nobody

[2018-12-11 22:35] jackpr-unity commented on #255
Still present in package version 0.0.14-preview

[2018-12-11 22:43] jackpr-unity commented on #213
Still present in package versino 0.0.14-preview

[2018-12-11 23:12] jackpr-unity commented on #218
As of 0.0.14-preview there is an inconsistency between the touchpad axis2d and pressed/touched namings.

the axis2d control is called "joystick"
the pressed/touched namings correctly use "touchpad" in their names

[2018-12-12 09:35] danielheim commented on #317
Looks good! Although when discovered as a HID, it is not added to the `Gamepad.all` list. I expect this is by design, as a HID is not always a Gamepad?

I still had to patch the `InputStateBlock.ReadFloat` method to allow me to view the device in the Input Debugger.

Thanks again for the quick fix!

[2018-12-12 21:30] Rene-Damm commented on #317
It probably won't work properly until the native fixes have landed publicly, too. From what you describe, it sounds like it still comes out as a generic HID. Once the native stuff is in, it should correctly appear as a `DualShockGamepad` and also appear in `Gamepad.all`.

This should be fixed on latest head I think. We recently implemented the part that used to throw a NotImplementException.

[2018-12-12 21:41] danielheim commented on #317
I just saw the fix on the develop branch. Thanks for the update!

[2018-12-14 16:05] douglas-piconi commented on #286
This appears to be the same problem on the spreadsheet.  Currently working on this fix.

[2018-12-17 00:01] Compsciler commented on #166
@petersvp Do you know where to paste these scripts for multiple mice inputs in Unity? Thanks!

[2018-12-18 14:55] #286 closed, assigned to douglas-piconi

[2018-12-20 06:49] Wokarol opened #342 "Will there be option to get event on controll change?"
Is there (or will be) an option to get event when user picks up gamepad instead of keyboard?

[2018-12-20 06:52] Wokarol opened #343 "Assign gamepad to players"
How to assign particular gamepad to particular player for local coop games?

[2018-12-20 09:43] #190 closed, assigned to tomekpaszek

[2018-12-20 09:45] tomekpaszek commented on #190
does not repro

[2018-12-20 14:30] renaldasrep opened #344 "[iOS][Touch] Events get more rare on "older" touches when having multiple touches"
Found using 0.0.12-preview

How to reproduce:
1. Move one finger on the screen position is updated precisely (floating point values)
2. Add another finger and move them together
3. Notice that now, the "older" touch (the first finger that was laid upon touchscreen (e.g. indexed 0))
isn't updated as precise (whole number values), but the "later" one (e.g. indexed 1) is still precise.

Also touches

[2018-12-20 14:31] todi1856 commented on #344
Assign to me, alternatively it's reproducible in https://github.com/24BitGames/TouchInputSamples

[2018-12-20 21:05] Rene-Damm commented on #342
We still have to wrap this in nicer APIs, properly debug this, and also properly document this, but yes, the basic functionality is there. Essentially, this is `InputUser.onUnpairedDeviceUsed`. There's some code doing what you have in mind [here](https://github.com/Unity-Technologies/InputSystem/blob/develop/Assets/Demo/DemoGame.cs#L342).

Eventually, I hope we will have much higher-level wrappers

[2018-12-20 21:10] Rene-Damm commented on #343
This is one of the core functions of the `InputUser` API. Still missing docs, however.

The idea is that you `Instantiate` your actions and have each `InputUser` receive its own set of actions. By pairing specific devices to each user, the actions are restricted to just those devices.

The WIP (and ATM non-functional) demo does that [here](https://github.com/Unity-Technologies/InputSystem/blob/dev

[2018-12-20 21:54] Wokarol commented on #343
I need to dive deep into this demo yet again. But without documentation it's still chaos.

[2018-12-20 21:56] Wokarol commented on #342
I need to check this InputUser class, I didn't noticed it at first when I was trying to understand how this system is working

[2018-12-20 22:16] Rene-Damm commented on #343
Yup, indeed. Docs are sorely lacking. Also, the demo is in shambles right now which doesn't help either. By end of January, we will be in much better shape. Both with docs and the demo.

[2018-12-20 22:18] Rene-Damm commented on #342
One thing that *might* help while there isn't any docs yet is looking at the [tests](https://github.com/Unity-Technologies/InputSystem/blob/develop/Packages/com.unity.inputsystem/Tests/InputSystem/Plugins/UserTests.cs) for `InputUser`.

[2018-12-22 06:44] periodyctom opened #346 "XBox One Controller throws exception after a while when tap used on shoulder buttons."
On Win10, 2018.3, .NET 4.X, C# 7.3.

Using an XBox One Gamepad, on package from 0.1.2-preview from package manager.

Attached is Editor Log file, InputActions file and source code of the file reading the trace.
[PhaseEditorBug.zip](https://github.com/Unity-Technologies/InputSystem/files/2704869/PhaseEditorBug.zip)

Haven't tested on another machine yet.

I've tested with jamming the stick/dpad and

[2018-12-22 08:21] periodyctom commented on #346
Further ADDENDUM:
* Only happens when both shoulder buttons have tap and are assigned to the same action. If I only have one button with tap assigned to the action, issue doesn't occur.

[2018-12-22 18:00] felipeota commented on #273
Thanks, that's what we are looking for. Do you have an ETA for that?

[2018-12-24 10:31] Wokarol commented on #343
So I am at this point:
`    private void AddDevice(InputDevice device) {
        if (createUsers) {
            Debug.Log($"New device named: {device.displayName} : {device.layout} has been added");

            var user = InputUser.PerformPairingWithDevice(device);

            var actions = new CoopPlayerActions();
            user.AssociateActionsWithUser(actions);
            actions.Character

[2018-12-24 10:38] Wokarol commented on #343
I've tried
[code]
It still don't work

[2018-12-24 10:40] Wokarol commented on #343
For some reason every player is controlled by last device

[2018-12-24 10:49] Wokarol commented on #343
I've done this:
[code]
now every player is controlled by every device

[2018-12-24 17:33] Wokarol opened #347 "IndexOutOfRangeException: Index was outside the bounds of the array."
I'm getting this error
[code]
every time a binding from second action map is performed

[2018-12-27 08:48] periodyctom commented on #39
I'm not seeing this anymore on 2018.30f2 using 0.1.2-preview from the Package manager.

[2018-12-27 14:37] filod opened #348 "The name 'InputSettingsProvider' does not exist in the current context"
![image](https://user-images.githubusercontent.com/679897/50483714-f14f0200-0a27-11e9-8366-64dea271a1e8.png)

I think i got this error because `InputSettingsProvider` is only available when define [UNITY_EDITOR && UNITY_2018_3_OR_NEWER](https://github.com/Unity-Technologies/InputSystem/blob/fde6b76552fb683ad8a738b60dc6699e715ca0c2/Packages/com.unity.inputsystem/InputSystem/Editor/InputSettingsProv

[2018-12-27 22:08] StayTalm commented on #285
There was a typo in that spreadsheet.  Both the Click and Touch usages should have been in hte past tense: e.g. {Primary2DAxisClicked} {Primary2DAxisTouched}.

Updated the spreadsheet, sorry.

[2018-12-27 22:08] #285 closed, assigned to StayTalm

[2018-12-27 22:50] mwojtyna opened #349 "[Windows] [Mouse] Mouse.scroll changes even when the mouse is moved or any button is pressed"

[2018-12-28 01:06] VR-Architect opened #350 "Plans to support ECS?"
Is there any plans to provide a sample using ECS? Can this new system leverage ECS?

We are starting a new project and would like to use as much pure ECS as possible.

[2018-12-28 06:50] adamzl opened #351 "Actions UI does not handle "infinity""
Issue: if you enter "infinity" into a text field of an action binding a FormatException will continuously occur, only recovery is to delete the binding.

Reproduction Steps:
1. Create an action
2. Create "binding"
3. Add interaction "Press"
4. Click "Press" interaction to highlight it.
5. Enter "Infinity" in the "Press Point" field

Interestingly this only seems to occur with the value "infinity",

[2018-12-28 12:55] XZcutable opened #352 "Input System Not Working"
I am using 2018.3.0f2 of Unity and imported the InputSystem v0.1.2-Preview through the package manager. I used this [Brackeys tutorial](https://www.youtube.com/watch?v=Pzd8NhcRzVo) as a reference and streamed my experience on my [twitch channel](https://www.twitch.tv/z_doctor).

I spent 2 and a half hours trying various ways to get it working, and I am fairly confident that I implemented it as int

[2018-12-28 13:34] RRickkert commented on #352
Currently also dealing with this issue. Still trying to look into it, but the events don't seem to be called. Same Unity version (2018.3.0f2).

[2018-12-28 13:46] RRickkert commented on #352
For me it worked again after restarting my Unity editor. I remembered it warning that it needed an Editor restart, but 'assumed' it automatically restarted. Seems to work fine after that.

[2018-12-28 13:56] XZcutable commented on #352
I had already restarted but that didn't fix my issue. However, the issue was found. I simply did not call enable. derp

[2018-12-28 13:56] #352 closed, assigned to nobody

[2018-12-28 16:06] XZcutable opened #353 "Actions originating from Scriptable Objects are not Invoked"
Unity Version: 2018.3.0f2
InputSystem Version: 0.1.2

Trying to integrate the new InputSystem into my project me and my viewers stumbled across some odd behavior. Actions originating from Scriptable Objects are not Invoked.

After some testing here are some conclusions and solutions we found. 1) If you create a Scriptable Object and use this system, and enable it on OnEnable, it will work as expec

[2018-12-28 16:34] RRickkert opened #354 "InputActionAssetReference stored in ScriptableObject works only once"
_This issue might have something to do with the issue of #353, however I wanted to explain this issue specifically with clear code to reproduce this issue._

**The issue:**

* When a reference to an InputActionAssetReference instance is stored in a MonoBehaviour, everything works as expected.
* When a reference to an InputActionAssetReference instance is stored in a ScriptableObject, everything wo

[2018-12-28 16:36] XZcutable opened #355 "InvalidCastException When using DPad with GamePad Stick"
I am using an Xbox-One controller and I was trying to use the dpad binding to set up movement with the Left Stick. However, these errors have were thrown anytime I tried to move. Unsure if this is intended or not.

Edit:
After removing these bindings and running this issue popped up "A Native Collection has not been disposed, resulting in a memory leak. It was allocated at A:\Unity\2D\Playground\2

[2018-12-28 19:46] EGGamer opened #356 "Gamepad left stick left & right wrong"
I have a composite DPad. Up is **leftstick/up**, Down is **leftstick/down**, Left...., Right.... Then I put that as a Vector2. What happens is that up is 0,1; and right is 1,0. Left should be -1,0 and down 0,-1, but left and down are both 0,0, so thats incorrect.

[2018-12-28 23:24] XZcutable commented on #356
I am having the same issue.

If it helps I'm using an Xbox-One controller

[2018-12-28 23:49] XZcutable commented on #356
lol well, that's why. Ok, you guys, in the Axis Composite class in the UnityEngine.Experimental.Input.Composites namespace you set negativeIsPressed equal to if the negativeValue is greater than 0. I just check and the value is between 0 and -1 so that will always evaluate to false.

A similar issue is when you check to see which side wins, you return the -negativeValue which would actually make i

[2018-12-29 09:03] EGGamer commented on #356
No. I'm debugging the values into de console, and keyboard does pass -1,0;0,-1. But the stick does not for some reason. I'm also using an XBOX controller BTW.

[2018-12-29 10:50] XZcutable commented on #356
The keyboard does pass -1 0 and 1 when you use the Axis Composite class, but the logic for the keyboard does not work for the gamepad analog stick. I am 100% certain as I debugged values by editing the scripts and made a fix for the Axis Composite for the Analog-stick but it breaks the keyboard input.

[2018-12-29 14:21] EGGamer opened #357 "How to get axis from a gamepad stick and mouse?"
I want to move the camera with the right stick of the gamepad and mouse. Before, with the old system I used Input.GetAxis("Mouse X"); and Input.GetAxis("Mouse Y"); to move the camera with the mouse. Is there a similar way to do that with the sticks?

**I know this isn't really an issue, but I don't find the way to do it**

[2018-12-29 15:11] FurkanKambay commented on #355
Error 2, stack trace top 4:
[`InputActionMapState.cs:1173`]
[`InputActionMapState.cs:1197`]
[`InputBindingCompositeContext.cs:22`]
[`Composites/DpadComposite.cs:38`]

Since [`AxisDeadzoneProcessor`] is a `IInputControlProcessor<float>` and `TValue` at that point is `float` the cast shouldn't throw. So, `processors` probably has a faulty entry or an additional one.

`processors` is set only in [lin

[2018-12-29 15:13] EGGamer commented on #356
In theory, the analog stick should pass -1,0, 0,-1:
![2018-12-29_16-12-33](https://user-images.githubusercontent.com/40073654/50539690-98e14700-0b84-11e9-8a53-4abfc468ba7e.png)
![2018-12-29_16-12-49](https://user-images.githubusercontent.com/40073654/50539691-98e14700-0b84-11e9-8ad2-d10723809287.png)

EDIT: **It puts Xbox 360 controller, but it's an Xbox one controller**

[2018-12-30 04:21] XZcutable opened #358 "IndexOutOfRangeException with Multiple Action Maps"
The error occurs at InputSystem/Actions/InputActionMapState.cs:845.
The Line is: "var action = map.m_Actions[actionIndex - mapIndices[trigger.mapIndex].actionStartIndex];"

The issue is that you are subtracting the actionStartIndex from the action index. It seems that this is either done somewhere else or that the actionIndex no longer has to take that into account. With my setup, the index ended

[2018-12-30 13:45] Aresak opened #359 "IndexOutOfRangeException with multiple action maps"
An error occurs when I press the binded key in any action map and have multiple action maps setup. After that the whole action system will stop working and never ever respond to any new events.

Latest unity package version and 2018.3.0f2
`IndexOutOfRangeException: Array index is out of range.
UnityEngine.Experimental.Input.InputActionMapState.GetActionOrNull (UnityEngine.Experimental.Input.Trigge

[2018-12-31 12:59] RRickkert commented on #351
Can confirm this issue.
Changing the value from "Infinity" to a value like 0.00001, will automatically change the text to "1e-05", resulting in the same error.

[2019-01-01 07:49] scdrumz opened #360 "UIActionInputModule Inspector bugginess"
I'm seeing a weird issue in the UI Input module.  Sometimes if I wait, it'll clear itself up, but basically trying to manipulate the actions in the inspector causes a drawing issue:
![image](https://user-images.githubusercontent.com/4335834/50571129-9130d500-0e06-11e9-9d3b-49695c16edb4.png)

This doesn't seem to happen using InputActions in my other behaviors, so not sure what's up, but it seems t

[2019-01-01 07:50] scdrumz commented on #360
Using Unity 2018.3.0f2 btw

[2019-01-01 23:11] PlanetVaster commented on #357
I would like to know as well.

[2019-01-01 23:53] PlanetVaster commented on #226
This seems to still not be fixed.

[2019-01-01 23:56] PlanetVaster commented on #360
I can confirm that I've seen similar bugginess (usually placeholder text overlapping regular text). I'm using Unity 2018.3f2, Windows 10, Nvidia 1060/Intel i5-7600k.

[2019-01-02 17:12] Rene-Damm opened #361 "[Actions] IndexOutOfRangeException reading Vector2 from Axis composite"
https://forum.unity.com/threads/indexoutofrange-on-axis-action.601777/

Should throw an exception that properly points out the problem, not just cause some incorrect indexing somewhere.

[2019-01-02 18:02] Rene-Damm opened #362 "[Editor] NullReferenceException on mouse movement"
https://forum.unity.com/threads/nullreferenceexception-object-reference-devicetobuffermapping-deviceindex-2.604303/

[2019-01-02 20:52] Rene-Damm opened #363 "[Linux] Mouse position is wrong"
https://forum.unity.com/threads/testing-a-simple-mouse-position-using-the-new-input-system.605164/

[2019-01-03 01:07] Rene-Damm commented on #350
ATM no. There are some features (like the system's manual update mode) meant to make use outside of a GameObject world easier but there's nothing directly targeted at ECS at this point. The most sensible option for now is to pick up input in a ComponentSystem's `OnUpdate` method (ideally by running manual input updates right there) and marshal the data into whatever format works best for you (e.g.

[2019-01-03 01:13] Rene-Damm commented on #348
2018.2 is no longer supported. Sorry about that :( We were stretching ourselves too thin trying to support 2018.2, 2018.3, and 2019.1 while still in development so 2018.2 ended up on the chopping block recently.

[2019-01-03 01:13] #348 closed, assigned to nobody

[2019-01-04 00:11] Rene-Damm opened #365 "[UI] "dpad" not listed for action of type Vector2"
1. Create action
2. Set type to "Vector2"
3. Create binding
4. Filter for dpad in the control picker

Dpad is a Vector2 and should be included but is not listed.

[2019-01-04 01:10] Rene-Damm opened #366 "InputTestFixture is not accessible through package"
1. Add input system package to project.
2. Create a test assembly
3. Try to reference Unity.InputSystem.Tests (might or might not show)
4. Add a class to the test assembly that uses InputTestFixture
5. Build is broken as InputTestFixture can't be found

[2019-01-04 01:25] Rene-Damm opened #367 "[UI] Icons are blurry"
The device and control icons shown in the debugger and elsewhere appear blurry. We're probably not picking the right size and get artifacts from the editor UI automatically scaling them to size.

[2019-01-04 15:08] gorxmedia commented on #226
Confirming its still borked.

[2019-01-04 15:20] gorxmedia commented on #132
Same issue as #226

[2019-01-04 17:14] agent-reed opened #368 "Input Interactions not working when using Input Action Assset"
After following the current documentation for a basic setup of the Input system, I've discovered that interactions such as "Press and Release" no longer function when utilizing the Input Action Asset.

With the basic component setup as pictured here. "Press and Release" successfully waits for me to release the "A" key on my keyboard before firing the action.
![simpleworking](https://user-images.gi

[2019-01-05 19:59] ohlawdie opened #369 "Library\PackageCache\com.unity.inputsystem@0.1.2-preview\InputSystem\NativeInputRuntime.cs(167,33): error CS0117: 'Application' does not contain a definition for 'focusChanged'"
I am using Unity 2019.1.0a7.

Library\PackageCache\com.unity.inputsystem@0.1.2-preview\InputSystem\NativeInputRuntime.cs(167,33): error CS0117: 'Application' does not contain a definition for 'focusChanged'

I can navigate to the file, glance at the #if Unity_2019_OR_NEWER directive (above the 3 lines of code (that are classified as dead code in Jetbrains Rider))...so if I change the focus out of

[2019-01-07 01:11] jordanhe2 commented on #343
Is it possible to get the UserInput system working in its current state? Also, is the demo not working due to the API being broken or does the demo need to be updated to follow changes in the API?

The code I'm writing mostly follows what the demo code has, so I'm looking for a workaround to get a game to support multiple input devices.

[2019-01-07 02:07] flame99999 opened #370 "'Run in background' doesn't work"
Unity 2018.3.0f2  and inputsystem 0.1.2
I'm using InputSystem.QueueStateEvent to feed mouse delta event manually(event data received from remote server). It works fine when Unity has current focus. But when Unity is in background, Vector2 got from CallbackContext.ReadValue is always (0,0). Run in background is already checked.

[2019-01-07 05:49] Wokarol commented on #343
@jordanhe2 // I managed to make it work, somewhat... where you have a problem? Maybe I can help

[2019-01-07 17:59] jackpr-unity commented on #239
https://github.cds.internal.unity3d.com/jackpr/xr.mockinputprovider

[2019-01-07 21:32] jordanhe2 commented on #343
Hey @Wokarol,
I'm not really sure what I'm missing.
I'm setting `InputUser.listenForUnpairedDeviceActivity = true;`, adding an event listener to `InputUser.onUnpairedDeviceUsed` that calls `InputUser.PerformPairingWithDevice`, I'm calling `MakePrivateCopyOfActions` from the generated C# code of the `InputActionAssetReference` and then setting the callbacks for each unique player, then I run `Input

[2019-01-07 22:47] Wokarol commented on #343
Take a look at my "demo"
https://github.com/Wokarol/LocalCoopInputSystem
If you press "enter" or "start" on pad you will (hopefully) add a new player controller by said device. Passing "backspace" or "Y" on pad will delete player.
I'll probably rewrite it some day and make it better.

[2019-01-07 23:28] jordanhe2 commented on #343
Thanks @Wokarol for the reference, I'll be sure to use it if I run into any more issues!

I seem to have found my issue. For some reason, the Unity editor for the Input Actions was putting a ; before the group label. So if my group was called: `Keyboard` the editor had put `;Keyboard` in my `.inputactions` file for my asset. Apparently the InputSystem didn't like that and didn't include the bindin

[2019-01-08 00:02] oszust002 commented on #317
Just to ask, is it (or will there be) support for accelerometer/gyro from dualshock on platforms other than PS4?

[2019-01-08 19:28] Rene-Damm opened #371 "NullReferenceException with HTC Vive"
https://forum.unity.com/threads/matches-existing-device-but-failed-to-instantiate.609133/

Looks like there's two things here:

1) the core machinery not dealing properly with a layout builder not putting in any information for the device name (for some reason the Vive layout manages to bypass the logic that falls back to just taking the name of the layout), and
2) the XR layout builder not provid

[2019-01-08 20:15] Rene-Damm opened #372 "[Windows] Can't hide cursor"
https://forum.unity.com/threads/cant-hide-the-cursor.607762/

[2019-01-09 22:19] StayTalm commented on #199
Closing this, it works in 2018.3, and we are setting our support target for 2018.3

[2019-01-09 22:19] #199 closed, assigned to StayTalm

[2019-01-10 01:15] Rene-Damm opened #374 "[UI] Undo doesn't work for parameters"
1. Add Press interaction to a binding
2. Set "Press Point" to 2.
3. Hit Undo

"Press Point" should revert back to 0 but stays at 2.

[2019-01-10 12:20] h8672 commented on #357
Tests for mouse and keyboard worked for me, GamePad didn't seem to react to SteamController.

**using UnityEngine.Experimental.Input;**
[code]
Edit: I had not added GamePad to my input manager as preference in project settings and that was why I didn't get any inputs there.

[2019-01-11 18:44] StayTalm commented on #370
A backport is on it's way.
Right now it will be first available in 2019.1.0a15, and I will update this once it's available in a 2018.3 version.

[2019-01-11 18:55] StayTalm commented on #369
It will be made available in 2019.1.0a15 , but we don't have any more precision in the defines.  I'll look into disabling this for now until that alpha version is available.

[2019-01-11 20:28] ohlawdie commented on #369
Okay, thanks Tom!

[2019-01-12 14:26] Baste-RainGames commented on #125
Just wanted to pipe in and say that it took me about half an hour to figure this out. It's _super_-confusing.

Does Vector2Control really need x and y that's not just property-wrappers around ReadValue().x and ReadValue().y? I'm getting a Vector2 from ReadValue, a different way of accessing that doesn't really feel neccessary.
I would want to be able to access the raw values of the controller, but

[2019-01-12 14:50] hippocoder commented on #125
+1 Totally baffling, and I would repeatedly get confused on account of not being as bright as my peers :)

[2019-01-12 17:30] h8672 opened #375 "Parsing all keyboard controls with Key values 0.1.2 preview"
So I cant get keyboard keys from InputControl in 0.1.2 preview using Key enum. They are all available in Keyboard layout, but it's such a pain to go through them...  So I made my own fix (if you can call it that).

~~***Keyboard.current.allControls[0].stateBlock.BitOffset*** contains *a value* that can be cast to **Key**.~~
~~Then **cast** the correct InputControl to KeyControl.~~
Get the right ke

[2019-01-14 19:09] Rene-Damm opened #376 "[Editor] Gamepad stick movement is picked up when not having focus"
https://forum.unity.com/threads/feedback.611521/#post-4097107

[2019-01-14 20:08] Rene-Damm opened #377 "[WebGL] Mouse position does not update after first frame"
https://forum.unity.com/threads/mouse-position-webgl.612355

[2019-01-14 20:30] EGGamer commented on #356
@Rene-Damm

[2019-01-14 22:37] Rene-Damm commented on #117
Should be resolved by our removal of .NET 3.5 support.

[2019-01-14 22:37] #117 closed, assigned to nobody

[2019-01-14 23:30] Rene-Damm commented on #267
`twist` doing nothing is to be expected. There's few pens that support this. Actually, the only one I'm aware of is the Wacom Art Pen.

`tilt` should be normalized so that's a thing.

[2019-01-14 23:44] Rene-Damm commented on #254
Should be fixed on head.

[2019-01-14 23:44] #254 closed, assigned to Rene-Damm

[2019-01-15 17:31] #202 closed, assigned to Rene-Damm

[2019-01-15 17:36] #80 closed, assigned to nobody

[2019-01-15 17:38] #55 closed, assigned to nobody

[2019-01-15 17:40] #18 closed, assigned to nobody

[2019-01-15 17:53] Rene-Damm commented on #356
Sorry for the very long delay here.

This is as intended. The `up`, `down`, `right`, and `left` controls act as buttons and behave like their corresponding controls in `dpad`. Each button goes from 0 to 1 and represents a half-axis.

To make individual buttons go [0..-1] simply put an `Invert` processor on the binding.

Just to confirm, when using an Xbox controller, you see the `gamepad.leftStick

[2019-01-15 17:56] Rene-Damm commented on #354
Thank you for the detailed repro. We'll take a look.

[2019-01-15 18:05] Rene-Damm commented on #325
Wait, that part is actually expected. Sounds like the same thing that came up in #356.

`up`, `down`, `left`, and `right` are set up as buttons (i.e. [0..1]). Just like the ones on `dpad`.

Seems like it's a source of confusion, though, so could be that setup needs revisiting.

[2019-01-15 18:07] Rene-Damm commented on #300
Closing as initial behavior was working as expected. Going over the interactions for consistency and completeness is in progress.

[2019-01-15 18:07] #300 closed, assigned to nobody

[2019-01-15 18:11] Rene-Damm commented on #273
Bah, keep dropping the ball here. Sorry bout that :/

Unfortunately, it looks like we'll probably not get the native work done for 1.0-preview and it'll be main-thread only. The ability to manually flush is in by now but it still has to happen in a ComponentSystem's OnUpdate rather than in a job.

We will need the ability to move off the main thread for ECS so it will happen. Just not for the init

[2019-01-15 18:13] Rene-Damm commented on #272
Assigning to you @todi1856. Think we discussed this at some point but don't recall where we landed on.

[2019-01-15 18:14] #242 closed, assigned to nobody

[2019-01-15 18:15] Rene-Damm commented on #242
Sounds like this was fixed and the native changes have made their way back.

[2019-01-15 18:17] Rene-Damm commented on #239
@StayTalm Is the issue specific to the XR side or is this a core issue with the layout stuff?

[2019-01-15 18:21] Rene-Damm commented on #181
Should be out and functional in 2018.3.

[2019-01-15 18:21] #181 closed, assigned to nobody

[2019-01-15 18:22] Rene-Damm commented on #155
Obsolete as the new UI does not include the switch.

[2019-01-15 18:22] #155 closed, assigned to nobody

[2019-01-15 18:34] EGGamer commented on #356
When the leftstick is at the left and down it returns **0, 0**, that should't be happening. And that's a website that I've found on google.

[2019-01-15 19:24] StayTalm commented on #239
This is XR only, and is fixed in https://github.com/Unity-Technologies/InputSystem/pull/378

[2019-01-15 22:00] michael-nischt commented on #181
Cool!
I cloned the repository again and there are no compilation errors nor exceptions. However, the demo scene seems not to register any input (tested with mouse+kb and a Steam Controller). Player settings enabled both input systems. Anything else I need to do?

(Unity-2018.3.1f1)

P.S. there is one warning:
Package missing for Virtual Reality SDK Oculus. Please add the Oculus (Standalone) packag

[2019-01-15 22:43] Rene-Damm commented on #375
Not sure I follow what you're asking for TBH.

To turn a KeyControl instance into a Key value, you can use the `keyCode` property. And you can look up keys by name.

[code]

[2019-01-15 22:44] Rene-Damm opened #380 "[Android] Kill TouchPositionTransformProcessor."
This should be done in the backend.

[2019-01-15 22:54] Rene-Damm commented on #181
The demo is non-functional ATM as a new demo is being built there. The old demo is in SimpleDemo. Probably wouldn't have been better to leave the old demo in place until the new one is finished. Sorry for the confusion.

[2019-01-16 10:00] RedactedProfile opened #381 "WebGL Keyboard Input doesn't work at all"
![image](https://user-images.githubusercontent.com/1039911/51241262-4b116080-1932-11e9-99ce-d424693c1ed4.png)

When exported for WebGL, and launched in a server, the game fails to capture keyboard input, even with focus.

In my configuration, WASD nor ArrowKeys work

[2019-01-16 10:11] h8672 commented on #375
There was no question, just my observations for finding the right controls using keycode from current Keyboard. I had trouble getting my inputs to work after expanding ActionMaps through current UI. ~~And I don't think there was documentation for it.~~
I was wrong, based on documentation you could also use:
- Keyboard.current[**Key.Space**] to get the right key control... So that makes my demo cod

[2019-01-16 11:19] h8672 commented on #370
@StayTalm Is it currently on by default in 2019.1.0a++? I get wrong results in Ubuntu 18.04 when using keys with Keyboard .wasPressedThisFrame and .wasReleasedThisFrame on Update or FixedUpdate methods.

[2019-01-16 21:36] Wahooney commented on #261
Has there been any movement on this issue? I'm on 0.1.2 and it's still a problem. Any work arounds?

BTW the SetCallbacks() with the and Generate Interfaces is pretty sweet.

[2019-01-16 21:39] douglas-piconi commented on #261
I'll take a look, and try to get a fix in for next release

[2019-01-16 21:42] Wahooney commented on #261
Fantastic! Thank you!

[2019-01-17 12:37] jechter commented on #315
I cannot reproduce this.

[2019-01-17 20:06] douglas-piconi commented on #261
@Wahooney I'm going to talk over with a few other engineers.  When I wrote up a test to repro your issue, I'm starting to think it might be as designed.  But I could be wrong, I'm gonna get a second opinion.  Here is a test without any disabling.   Press the key, action gets fired, release the key, different action gets fired.  Press the key,  action gets fired.   If you comment out releasing that

[2019-01-17 20:18] douglas-piconi commented on #261
@Wahooney This test is what I interpret your issue,  but this passes.   Is there anything I'm missing here on what you are running into?

        var keyboard = InputSystem.AddDevice<Keyboard>();
        var action = new InputAction();
           action.AddCompositeBinding("Dpad")
                .With("Up", "/<Keyboard>/w");

        action.Enable();

        Vector2? value = null;
            ac

[2019-01-18 01:27] Rene-Damm commented on #359
Think I finally caught this one. There's two places where `InputBindingResolver` sets up things wrong causing both `actionIndex` in `bindingStates` to be wrong and indices in `controlIndexToBindingIndex` to be wrong. Will push a fix.

[2019-01-18 04:31] RedactedProfile commented on #381
Hello? I'm not quite sure what to do about this..

[2019-01-19 12:37] Baste-RainGames opened #382 "Keys in Input Manager"
![image](https://user-images.githubusercontent.com/12800067/51426735-05cd8700-1bef-11e9-9bed-37106f37c8db.png)

There's a bunch of standard editor keys that works in the Input Manager - ctrl+d duplicates an action or action map, and ctrl+x,c,v works as expected.

The delete button doesn't do anything, though. I believe it should, and it should (obviously) delete the selected action or map.

I'd al

[2019-01-19 12:51] Baste-RainGames opened #383 "Automatic binding constantly reads scroll wheel"
Gif:

![scroll](https://user-images.githubusercontent.com/12800067/51426906-2ac2f980-1bf1-11e9-9858-090715041d0b.gif)

The action has type "Any". Pretty much instantly after I click the rebind button, it picks up a scroll wheel input. I'm not scrolling my mouse wheel, and no other programs are behaving like I'm scrolling, so it's _probably_ not a hardware issue.

If I set the action to a type that

[2019-01-19 13:09] Baste-RainGames opened #384 "InputActionAssetReference fields are untyped"
I've got an input action asset that generates a C# script:

![image](https://user-images.githubusercontent.com/12800067/51427070-5f37b500-1bf3-11e9-8b4f-4686961d4281.png)

I've got a script with a public field of that type:

![image](https://user-images.githubusercontent.com/12800067/51427073-7ecedd80-1bf3-11e9-9d9f-03e8d343f1c2.png)

When assigning the field, I think I should only be able to assi

[2019-01-21 17:32] Rene-Damm opened #385 "[UI] Inspector does not update when assigning actions programmatically to InputActionProperties"
https://forum.unity.com/threads/inputuser-and-uiactioninputmodule.614158/

[2019-01-21 17:47] Rene-Damm opened #386 "[Actions] "C# Class File# property on .inputactions importer is relative to project root"
This property should be relative to Assets/, not relative to the project root.

https://forum.unity.com/threads/input-system-update.508660/page-9#post-4119712

[2019-01-21 21:21] Baste-RainGames opened #387 "Pressing duplicate in Input Manager causes ID's to duplicate."
Using Ctrl+D in the Input Manager duplicates input actions exactly, causing them to have the same ID. This causes very hard to track down bugs where lookups that should be targeting one input instead targets another.

I've attached a zip with a video showing a repro that should be pretty easy to follow.
[Input Bug thing.zip](https://github.com/Unity-Technologies/InputSystem/files/2780541/Input.Bug

[2019-01-22 20:00] douglas-piconi commented on #365
Are you still seeing this?  I can't repro with 0.1.2 on 2018.3.   Looks like its working now.
![untitled](https://user-images.githubusercontent.com/24575155/51561874-60b4e780-1e56-11e9-8232-9284e9c41319.png)

[2019-01-22 20:10] douglas-piconi commented on #162
This has been fixed.

[2019-01-22 20:10] #162 closed, assigned to nobody

[2019-01-22 20:15] douglas-piconi commented on #39
@periodyctom Do you think we can close this?

[2019-01-22 20:25] douglas-piconi commented on #163
@Rene-Damm Can we close this,  I can't repro this anymore.  Seems to have been fixed since July

[2019-01-22 20:45] jackpr-unity commented on #239
Is it fixed in #378? It's not on the list of bugs that PR fixed.

[2019-01-22 22:38] periodyctom commented on #39
@douglas-piconi - yeah I haven't seen it in 2018.3 or 2019.1a for a while now. I'll reopen if I see it again.

[2019-01-23 04:02] Rene-Damm commented on #358
Should be fixed on latest develop and in next package release.

[2019-01-23 04:02] #358 closed, assigned to Rene-Damm

[2019-01-23 04:02] Rene-Damm commented on #359
Should be fixed on latest develop and in next package release.

[2019-01-23 04:02] #359 closed, assigned to Rene-Damm

[2019-01-23 04:21] Rene-Damm commented on #365
@douglas-piconi You'll have to use the asset editor to see this one, I think. The problem is only there if you set the type of an action which I think you can't do in the embedded UI. Once you set the type, the control picker starts filtering controls. Looks like it's incorrectly filtering out `dpad` when the type is `Vector2`.

[2019-01-23 04:26] Rene-Damm commented on #365
Ah, taking a second look, found the problem. `LayoutMatchesExpectedControlLayoutFilter` checks inheritance on the *control* type, not on the value type. So `DpadControl` would have to be a `Vector2Control` for this to work. Will take another look tomorrow to see which way this should go. Technically, `DpadControl` *should* be a `Vector2Control`. Think the only reason it's not is that it will get a

[2019-01-23 04:27] Rene-Damm commented on #39
Yup, not seeing it either anymore. Closing this one for now.

[2019-01-23 04:27] #39 closed, assigned to nobody

[2019-01-23 04:28] #163 closed, assigned to Rene-Damm

[2019-01-23 04:41] Rene-Damm commented on #361
Also, shouldn't even allow making the incorrect binding in the first place. That's what the `InputControl` attributes on the composites are for.

[2019-01-23 09:54] danielheim commented on #356
I've been experiencing a similar issue, using a standard action binding, bound to **leftStick/up** and **leftStick/down**

I've written some crude test code
[code]

Filtering by `"x"` and `"y"`, values from a DualShockGampadHID (Wired DualShock4) come through from [-1...1] as expected. However, XInputControllerOSX (Wired XBox 360) come through as [-2...2], even though they come through correctly [

[2019-01-23 14:02] feipinxiang opened #388 "[Win] Touch.radius always 0"
In the unity editor, Touch.radius is always equal to 0.But the c# wpf project I created can get System.Windows.Input.TouchPoint.size.

Debug.Log(Input.touches[0].radius);
Debug.Log(Input.touches[0].radiusVariance);
or
Debug.Log(Input.GetTouch(0).radius);
Debug.Log(Input.GetTouch(0).radiusVariance);

Unity 2018.2.2f1 (64-bit)/Unity 2017.4.10f1 (64-bit)
system windows 10 x64. dell xps 15 touch scree

[2019-01-23 14:05] feipinxiang commented on #388
wpf code:

void Touch_FrameReported(object sender, TouchFrameEventArgs e)
{
	foreach (TouchPoint _touchPoint in e.GetTouchPoints(this.canvas1))
	{
	    Console.WriteLine(_touchPoint.Size.ToString());
	}
}

[2019-01-23 16:27] Wahooney commented on #261
If I'm reading that right that does seem to be the process.
I'll start a new project and make a minimal example, I'll let you know what I find.

[2019-01-23 18:42] Rene-Damm commented on #261
@Wahooney There's a stack of changes that landed yesterday and among them, I think the issues around this should be resolved.

One of the key changes is that actions will now properly cancel ongoing interactions when calling Disable (see [here](https://github.com/Unity-Technologies/InputSystem/blob/08f75cfeb3d3055856a5877502643dee0e9c17da/Packages/com.unity.inputsystem/Tests/InputSystem/CoreTests_

[2019-01-23 18:46] Rene-Damm commented on #388
Not sure whether the problem is on our side or on the side of the API we're using to get the data. We do read out contact area information from TOUCHINPUT, if available. Needs checking.

[2019-01-23 18:48] Rene-Damm commented on #356
Ouch. That's not right for sure :)

Thanks for the details. We'll have a look.

[2019-01-23 18:54] jackpr-unity commented on #197
Fixed in #378

[2019-01-23 18:54] #197 closed, assigned to StayTalm

[2019-01-23 18:55] jackpr-unity commented on #201
Fixed in #378. Support was removed until we integrate SteamVR 2.0

[2019-01-23 18:55] #201 closed, assigned to StayTalm

[2019-01-23 18:55] jackpr-unity commented on #205
Fixed in #378

[2019-01-23 18:55] jackpr-unity commented on #205
@Rene-Damm as an admin, can you close this issue?

[2019-01-23 18:55] jackpr-unity commented on #206
Fixed in #378

[2019-01-23 18:56] jackpr-unity commented on #213
Fixed in #378

[2019-01-23 18:56] jackpr-unity commented on #215
Fixed in #378

[2019-01-23 18:56] #215 closed, assigned to nobody

[2019-01-23 18:56] jackpr-unity commented on #206
Fixed in #378

[2019-01-23 18:56] jackpr-unity commented on #213
Fixed in #378

[2019-01-23 18:56] #213 closed, assigned to nobody

[2019-01-23 18:56] jackpr-unity commented on #218
Fixed in #378

[2019-01-23 18:56] #218 closed, assigned to nobody

[2019-01-23 18:57] jackpr-unity commented on #249
Fixed in #378

[2019-01-23 18:57] #249 closed, assigned to nobody

[2019-01-23 18:57] jackpr-unity commented on #250
Fixed in #378

[2019-01-23 18:57] #250 closed, assigned to nobody

[2019-01-23 18:57] jackpr-unity commented on #330
Fixed in #378

[2019-01-23 18:57] #330 closed, assigned to StayTalm

[2019-01-23 18:57] jackpr-unity commented on #335
Fixed in #378

[2019-01-23 18:57] #335 closed, assigned to nobody

[2019-01-23 18:57] jackpr-unity commented on #206
@Dianna3D can you close?

[2019-01-23 18:58] jackpr-unity commented on #205
@Dianna3D can you close?

[2019-01-23 18:58] #205 closed, assigned to StayTalm

[2019-01-23 18:59] #206 closed, assigned to StayTalm

[2019-01-24 17:30] gj52 commented on #347
Looks similar

[code]

[2019-01-24 17:34] gj52 commented on #347
[InputMaster.inputactions.txt](https://github.com/Unity-Technologies/InputSystem/files/2792855/InputMaster.inputactions.txt)

[2019-01-24 22:06] douglas-piconi commented on #356
fix incoming in next release.   The normalization values were messed up in the registered layout.

[2019-01-25 21:37] douglas-piconi commented on #388
@feipinxiang   this bug is with the legacy input manager in Unity.   We have the bug filed with your sample project in the other bug system.  I am going to close this bug in GitHub as this project is a different input system.

the public link to the bug is https://issuetracker.unity3d.com/issues/touch-dot-radius-is-always-0-when-using-windows-touch-screen

[2019-01-25 21:37] #388 closed, assigned to nobody

[2019-01-25 22:23] douglas-piconi commented on #136
This appears to have been fixed as of 0.1.2

[2019-01-25 22:23] #136 closed, assigned to nobody

[2019-01-26 02:23] GilbertoBitt opened #392 "Inputmanager when Join behavior is set "When Join Action Is Trigger" pair every device connected to only first user."
After adding the InputSystem i add PlayerInput and Create a Prefab with the PlayerInput script then when i press start (Join action) or Keyboard Enter (Join action) my player is instanciate but on input debugger the user has both keyboard and mouse and joystick has pair devices and becouse of that i can't add more users becouse InputManager add all devices to user1.

so in resume i have 3 devices

[2019-01-26 02:35] GilbertoBitt commented on #392
The problem only occur when player input is using Invoke Unity Events

[2019-01-26 20:34] kakysha opened #393 "OnScreenButtonEditor script causes errors as soon as you add OnScreenButton component"
making `public class OnScreenButtonEditor` not derive from `OnScreenControlEditor` fixes all of them

[2019-01-28 15:12] todi1856 commented on #344
@Rene-Damm This seems like a bug in managed side, I'll try to make a test, but here's a snapshot from debug build, where I print what I send from native, and what we receive on managed

NewInput: Touch Began 2163.000000 x 963.000000, id = 5, time = 24.335799
Touch Began (2163.0, 963.0) 5
Touch Stationary (2163.0, 963.0) 5
NewInput: Touch Began 1792.000122 x 885.000000, id = 6, time = 24.361293
Tou

[2019-01-28 19:55] douglas-piconi commented on #346
I'm gonna start looking at this one.

[2019-01-29 12:18] kakysha opened #396 "UIActionInputModule - multitouch support"
I have put two onscreen sticks on canvas and map them to gamepad sticks and they work perfectly. When I run my game in Editor, I can use mouse to manipulate both of the onscreen sticks, its perfectly good. Problem arise on touchscreen devices (iPhone), i can't use both sticks at the same time. It looks like new Input System can't handle multiple touches. Or, more likely, its the UIActionInputModul

[2019-01-29 14:22] todi1856 commented on #139
@renaldasrep this was fixed in 2019.1.0a12

[2019-01-29 19:21] Rene-Damm opened #397 "[Actions] Stick not triggering action after button is pressed"
I have an action bound to leftStick [Gamepad] with no Interactions and no Processors as well as an action bound to buttonSouth [Gamepad] with an interaction of PressAndRelease and no Processors. In my game, using the Interface callbacks, if I hold the stick in a direction and then hold the button, I lose input from the stick. I'm not getting the callback for it at all until I move it in a differen

[2019-01-29 22:38] althaj opened #398 "XInputController sticks work correctly only when game is out of focus"
When I click out of the game window (for example into hierarchy or even outside of Unity), the sticks work properly. However, when the game window is focused the sticks randomly "freeze", they are stuck on the same value even when I move them or keep them centered.

I use Logitech F310.

[2019-01-30 00:26] Rene-Damm opened #399 "[Actions] ArgumentNullException when right-clicking unfocused action asset editor"
1. Create action map with an action in the editor.
2. Click the action to select it.
3. Click in another of Unity's window (e.g. project browser) to put focus away from action editor.
4. Right-click action.
5. Observe exception in log.

Tested on OSX.

[2019-01-30 06:02] IKnowBashFu opened #400 "[XR] Can't Get Oculus Rift to track"
Using the tracked pose driver from the new input system, I have my head tracking set up as such:
![Image of Unity Tracked Pose Driver settings](https://img.bashfu.nyc/o3rf8or3xvoiedu.png)

The rift HMD doesn't actually track, unless I've done something wrong. The camera works fine without a pose controller on it, but then stops working once I add it on. This applies to the touch controllers as wel

[2019-01-30 07:38] RoboSkyrat commented on #400
I'm currently working on the same project as @IKnowBashFu and I've discovered that if the Game window isn't in focus the HMD doesn't track at all.

[2019-01-30 11:42] mdsitton opened #401 "2019.1.0b1 Exception, 2019.2 Native NativeInputSystem api change included in 2019.1.0b1"
"Delegate 'NativeUpdateCallback' does not take 3 arguments"

[code]

Changing to UNITY_2019_1_OR_NEWER fixed this for me locally but you guys should probably get on that todo as the input system is broken in 2019.1 now :)

[2019-01-30 14:41] IKnowBashFu commented on #400
So with that solved, I guess the question now is, can we ignore application focus so that this isn't an issue? I can see problems down the road if a user has a window randomly steal focus. It would be very disorienting.

[2019-01-30 23:33] StayTalm commented on #400
You can, but it is brand new and in the process of being backported:
In 2019.1 (beta 1 is out now), and using the 0.1.2-preview version of the New Input System you can use `InputSystem.runInBackground = true;`
And you will continue to receive events regardless of focus.  This works for XR devices, and for other devices based on what the underlying OS supports (e.g. OSX will not give us mouse data

[2019-01-30 23:41] StayTalm commented on #400
Sorry, I think I just gave some frustrating advice.
2019.1.0b1 will not work with 0.1.2-preview, because there was a core unity API change.  2019.1.0b1 is the first version to have the runInBackground toggle, so it's somewhat jammed up.
There is a 0.1.3-preview coming soon fixing the API mismatch, or if you feel crafty, the error line itself can be manually editted (a function parameter was droppe

[2019-01-31 01:50] IKnowBashFu commented on #400
Thanks for the great answer. I appreciate the help, and I think we'll wait for the backport, since we want at least some stability in our project, haha.

[2019-01-31 01:50] #400 closed, assigned to nobody

[2019-01-31 11:03] Arcnor opened #403 "Missing PassthroughInteraction"
Hi,

It seems the `PassthroughInteraction` class has not been added to the repo (should probably have been added with edf3b9dcce0b46a1bdf9e9a6544526216d7aba58), so the latest version doesn't compile, unless I'm missing something myself.

[2019-01-31 23:08] Rene-Damm commented on #403
Sorry, my bad. Fixed on latest head.

[2019-01-31 23:08] #403 closed, assigned to nobody

[2019-02-01 10:55] Arcnor opened #404 "Memory leak error"
In one part of my game I call `InputSystem.FindControls(binding.path)` to show the current binding in my UI. However, after doing that Unity started warning me about some memory leak:

[code]

I'm using HEAD of `develop` as of today (7a2afc9f)

[2019-02-01 18:55] Rene-Damm commented on #404
`InputControlList` needs to be disposed. It allocates unmanaged memory to avoid generating garbage yet still be able to have arbitrary-sized lists. If the use is purely local, the best pattern usually is to employ `using`.

[code]

It's also possible to turn binding paths directly into strings. See `InputControlPath.ToHumanReadableString()` or the various extraction methods in `InputControlPath` (

[2019-02-01 19:02] Arcnor commented on #404
Thank you very much, and sorry, I didn't realize `InputControlList` needed disposal.

More than turning into strings I want to get the device & key/button for it from the binding itself, but in any case, I guess this is not a real issue, although I'll eagerly wait that rebinding UI support :)

[2019-02-01 19:02] #404 closed, assigned to nobody

[2019-02-01 21:34] #392 closed, assigned to nobody

[2019-02-02 15:36] Arcnor commented on #317
Also to confirm, I'm assuming the public parts that you talk about @Rene-Damm haven't been released yet? I'm using 2018.3.4f1 and I'm getting the same problem (PS4 controller working wired, but not on Bluetooth)

Even worse, the generic support I still get on bluetooth seems to be a bit broken, the left stick gets recognized as a stick, but the up & down directions are reversed...

[2019-02-05 14:25] fnuecke commented on #383
Same issue here, 0.1.2-preview on Unity 2018.3.2f1, Windows 10, Logitech G700s.

Also noticed that when opening the mouse in the input debugger (Window/Input Debug, double-click on Mouse) `scroll.y` will jump to non-zero when moving the mouse (pos or neg depending on last scroll direction it seems). Value changes rapidly, but absolute value *might* be correlated to cursor delta (i.e. faster cursor

[2019-02-05 16:30] Rene-Damm commented on #317
@oszust002 Sorry about dropping the ball here. Thought I had responded.

Likely not. We haven't figured out the format that the controller sends this data in and it doesn't seem like anyone out there has. Steam supports it but not sure whether they are using Sony's libs under license or have figured out the format. If/when the format becomes clear, we'll hook up the data but unfortunately, for now

[2019-02-05 16:34] Rene-Damm commented on #317
The native changes have landed in 2019.1 but uncertain ATM whether they will end up getting into 2018.3. Chances not looking great ATM :(

Yeah, the fallback HID support is limited in what it can do. The way a HID describes itself provides very little information as to how to correctly read the data. A trigger and a stick axis may come out looking absolutely identical and it's impossible to tell w

[2019-02-05 16:51] Rene-Damm opened #408 "[Debugger] Events are shown out of order"
The input event trace in the input debugger seems to be buggy. Events sometimes disappear or appear out of order.

To reproduce, bring up input debugger for mouse and check the event log while moving the mouse around. After a while, you should see disappearing events or events appearing out of order (check the IDs and timestamps; neither should go back to lower values).

I'm pretty sure that `Inpu

[2019-02-05 20:15] JiaUnity commented on #143
Closing as By Design.

[2019-02-05 20:15] #143 closed, assigned to nobody

[2019-02-07 00:10] Rene-Damm commented on #258
The stuff above has been addressed, though we still have some performance tweaking to do there.

However, there's a larger issue that still needs to be addressed. With mice sampling at high frequencies, we end up with huge event loads as resolutions increase. For example, at 4k and the mouse sampling at 120Hz, each frame will see a huge number of mouse movement events with tiny deltas.

Whatever s

[2019-02-07 14:26] mrdev023 opened #409 "[Linux Editor] Dead Keys like Circumflex (AZERTY, QWERTY) doesn't work"
The keys "^" on azerty or "`", " ' " on qwerty don't work because is waiting press on another key.
And if i press on ^ key all key doesn't work as long as I do not press another key again.

[2019-02-08 09:59] fnuecke opened #410 "Interleaved CompositeSyntax.With breaks composite binding"
For example, this will break, the positive gamepad part will also be interpreted as negative:
[code]

`With("positive", ...).With("positive", ...).With("negative", ...).With("negative", ...)` works as expected.

This is due to previously assigned part indices not being reused correctly in the constructed `InputActionMapState.BindingState` in `InputBindingResolver.AddActionMap`, it will currently a

[2019-02-08 10:48] KospY opened #411 "[XR] WMR - Some actions (Grip and trigger) are called multiple time after pressing the menu button"
Some actions (grip and trigger confirmed) are called multiple time after going into the WMR menu.
Strangely, this issue happen only on the right controller.

To reproduce, use the code below and check the debug lines after pressing quickly the trigger before and after going into the menu.
Before going into menu you will get one line for each .
After going into the menu 2 lines
After going into the

[2019-02-08 11:25] KospY opened #412 "[XR] WMR - Haptic intensity can't be changed"
Using SendImpulse(intensity, duration), the intensity parameter doesn't have any effect.
Intensity always stay the same.

Tested on Samsung Odyssey+
Last repo update (2019-02-08)
Unity 2018.3.2

[2019-02-08 20:49] jackpritz commented on #211
From #378, which was merged before all issues were resolved:

* The Oculus Go still doesn't have an entry in the InputActions table.  Should it?  We know that it's equivalent to GearVR, but how are users supposed to know?

[2019-02-08 20:50] jackpritz commented on #207
From #378, which was merged before all issues were resolved:

The actions not fire when the Vive Pro is being used, but not when the Vive is being used. My Vive's name is "Vive. MV"

[2019-02-08 20:51] jackpritz commented on #203
From #378, which was merged before all issues were resolved:

* The Vive tracker pro has "VIVETrackerPRO" in its name, but the non-pro version's name just seems to be a serial number. Can this be fixed?

[2019-02-08 20:55] jackpritz commented on #196
Observed fixed looking at commit 5d0704c82a8f50459536f736c965b48e35a4c636

[2019-02-08 21:04] jackpritz commented on #195
19.1+ Fixed with PR https://ono.unity3d.com/unity/unity/pull-request/76756/_/xr/input/2d-axis-flip-y

The InputSystem currently targets a minimum of 18.3, so this issue must remain open.

[2019-02-08 21:05] #196 closed, assigned to StayTalm

[2019-02-08 21:06] #23 closed, assigned to nobody

[2019-02-08 21:12] jackpr-unity commented on #26
Still observed with 2018.3.5f1 and commit 5d0704c82a8f50459536f736c965b48e35a4c636

[2019-02-08 22:24] jackpr-unity commented on #89
Still present with 2018.3.5f1 and commit 5d0704c

[2019-02-10 22:35] Rene-Damm commented on #410
Thank you for the detailed report and the fix.

Changed the fix slightly. Problem should be resolved as of  [a958dd0](/Unity-Technologies/InputSystem/commit/a958dd0f51aa8eac8ad926146d136b236f9b29e4).

[2019-02-10 22:35] #410 closed, assigned to Rene-Damm

[2019-02-11 16:47] fnuecke commented on #355
Ran into what I believe is this issue, too. From what I understand, the underlying problem here appears to be that: first the individual composite part values contributing to the composite (e.g. float) get processed, second for the actual composite value (e.g. Vector2) get processed, however, both times the same processors are used - the ones assigned to the action the composite is bound to. And i

[2019-02-12 01:06] tgienger opened #413 "Distrubuting through source control (Perforce) the .inputactions file is unreadable."
After getting a fresh copy of the depot the .inputactions file is unreadable by Unity, showing the action map cannot be found in 'null'.

This was repeatable by myself with a second copy and my coworkers with their own workspaces as well.

[2019-02-12 16:41] douglas-piconi commented on #356
Fixed in 0.2.0-preview

[2019-02-12 16:41] #356 closed, assigned to douglas-piconi

[2019-02-12 18:56] YLlywelyn opened #414 "NullReferenceException when running in editor"
I just updated Unity Hub to 1.5.0, then updated to Unity 2018.3.5f1.  Now, whenever I hit play in the editor I get the following error repeated in the console:

UnityEngine.Experimental.Input.LowLevel.InputStateBuffers+DoubleBuffers.GetFrontBuffer (System.Int32 deviceIndex) (at Library/PackageCache/com.unity.inputsystem@0.1.2-preview/InputSystem/State/InputStateBuffers.cs:116)
UnityEngine.Experime

[2019-02-12 19:09] YLlywelyn commented on #414
So now the package manager shows an update...

[2019-02-12 19:09] #414 closed, assigned to nobody

[2019-02-12 20:55] YLlywelyn opened #415 "composite axis doesn't return to zero"
I have a composite axis set up for player movement.  When pressing buttons the value goes to 1 or -1, but it never goes back to zero when the buttons are released, causing my player to keep moving endlessly.

The expected behaviour should be for the axis to report 0 when the assigned controls aren't being pressed, unless there's something I'm missing?

[2019-02-12 23:25] JiaUnity commented on #112
Fixed in 19.1.

[2019-02-12 23:25] #112 closed, assigned to nobody

[2019-02-12 23:42] JiaUnity commented on #113
This has been fixed somewhere along the fixing.

[2019-02-12 23:42] #113 closed, assigned to Rene-Damm

[2019-02-12 23:45] JiaUnity commented on #133
Issue does not happen on 2019.1.0b3 with 758cb038 Stable.

[2019-02-12 23:46] JiaUnity commented on #115
This has been fixed long time ago.

[2019-02-12 23:46] #115 closed, assigned to nobody

[2019-02-12 23:48] JiaUnity commented on #25
Waiting for the Numpad= to be checked.

[2019-02-13 16:03] douglas-piconi commented on #413
It sounds like perforce is treating that file as a binary.  Your going to have to setup your perforce repository to treat the inputaction files as text.

[2019-02-14 01:33] jackpr-unity commented on #25
Testing with Unity 2018.3.5f1 and commit d8e3ad0553d91e81cb48d660becafb9af075f71b

Progress, but some issues remain.  I found these issues using the ISX_KB_Mouse_Basic scene
- alpha 9 sets keyboard state for alpha 8.  Alpha 8 still correctly sets keyboard state for alpha 8.  Keyboard.onTextInput correctly reports when the alpha 9 key is pressed.
- I ran into the print screen issue again.  Once aga

[2019-02-14 16:04] douglas-piconi commented on #398
I can repro the problem, but with the opposite behavior.   when I click outside of the game window, the values are not updating.  In the input debugger I can see the stick values, but in the game screen they are frozen just like you described.   Not quite sure if this is a problem with the UI or the the way the new input system interacts with the UI.   I will investigate.

[2019-02-14 16:31] douglas-piconi commented on #398
actually, if I download the space shooter tutorial with the old input manager.  I get the same behavior.  This may be as intended.

[2019-02-14 18:27] douglas-piconi commented on #401
Fixed in 0.2.0-preview.  Now available in the package manager.

[2019-02-14 18:27] #401 closed, assigned to nobody

[2019-02-14 18:33] douglas-piconi commented on #415
I haven't seen this, but I will try to repro with latest version and get this fixed.  Your right its should be 0 or 1 or 0 or -1.  0.7 for diagonal.

Not sure if it matters @JMSams but what buttons and axis are you using so that I can replicate.

[2019-02-14 18:47] douglas-piconi commented on #413
@tgienger You can configure file types in Perforce.  They can be changed after the initial commit, so they are not locked.

https://www.perforce.com/manuals/v16.2/cmdref/file.types.html

[2019-02-14 18:48] #413 closed, assigned to nobody

[2019-02-14 19:00] douglas-piconi commented on #131
@GuardHei 0.2.0-preview has a few fixes to the Xinput.   Are you still seeing this problem with latest update?

[2019-02-14 19:02] douglas-piconi commented on #31
@jackpr-unity take a look at my PR https://github.com/Unity-Technologies/InputSystem/pull/416    will this help you with this problem at all?

[2019-02-14 19:11] YLlywelyn commented on #415
I was using A/D, arrow keys, XInput DPad and XInput Thumbstick, all setup as composite axis.

[2019-02-15 00:26] Nikaas commented on #399
There are 3 errors actually if there is no action element focused, i.e. the Map/action window is just opened and nothing selected.

The first one is GUILayout problem if you right-click on an action.
The second one is Null exception if you right-click on the empty space below actions.
Third one happens rarely and I can't figure exactly when but it's something about right-clicking on different elem

[2019-02-15 03:39] tgienger commented on #413
It was a text file, the real problem and answer is to add the .cs file to the ignore list so that Perforce no longer locks it. It will get overwritten whenever changes are made.

[2019-02-15 14:47] todi1856 commented on #267
This is actually a duplicate of https://github.com/Unity-Technologies/InputSystem/issues/266.

P.S I don't think you can normalize tilt, if pen is fully perpendicular to the screen, where in that case tilt will be (0, 0).

If tilt would be 3D vector, then it would be (0, 0, 1)

[2019-02-15 15:48] douglas-piconi commented on #415
@JMSams Would you be willing to send me your scripts, and info on what platforms you are seeing this,  ie Android/Mac?   or is it all platforms?   I am having trouble reproducing, but we have had multiple users report a similar issue so I think there really is a problem somewhere.  Just need a few more specifics to help find it.

[2019-02-15 17:20] douglas-piconi commented on #415
@JMSams actually I have it reproducing now thanks.  I think I misinterpreted your original description.   I can repro now, `        moveAction = new InputAction("move", binding: "<Gamepad>/leftStick");
        moveAction.performed += ctx => move = ctx.ReadValue<Vector2>();
        moveAction.AddCompositeBinding("Dpad").With("Up", "<Keyboard>/w")
                                                .Wit

[2019-02-15 17:35] douglas-piconi commented on #415
regression introduced in 0.2.0.   Works in 0.1.2

[2019-02-15 19:37] JiaUnity commented on #267
This bug is marked as Won't Fix on FB side. Can close.

[2019-02-15 19:49] JeromyStroh commented on #363
Dupe of https://issuetracker.unity3d.com/issues/linux-mouse-editor-mouse-position-is-inconsistent-with-the-old-input

Has been fixed internally.

[2019-02-15 21:12] douglas-piconi commented on #415
@JMSams  ok, there has been a bit of a redesign with latest code and 0.2.0-preview with some breaking changes with actions.     In addition to performed, you'll have to account for cancelled  with something like `moveAction.cancelled += ctx => move = Vector2.zero;`  to reset the state of your move/look actions back to zero.

Excerpt from latest release notes that explains this.

Actions:

Bindings

[2019-02-15 21:24] #415 closed, assigned to douglas-piconi

[2019-02-15 22:14] douglas-piconi commented on #415
@JMSams you can also set it as a passthru if you do not want to deal with the cancelled action.   new         moveAction = new InputAction("move", binding: "<Gamepad>/leftStick") { passThrough = true };
        moveAction.performed += ctx => move = ctx.ReadValue<Vector2>();
        moveAction.AddCompositeBinding("Dpad").With("Up", "<Keyboard>/w")
                                                .Wi

[2019-02-16 00:52] YLlywelyn commented on #415
Cool, thanks for the help.  Note to self: read the change notes when updating plugins.

[2019-02-17 06:10] althaj commented on #398
I'm starting to think this was issue with new version of Unity (that is not even supported by this experimental input). With the 2018.3 version I don't get this behavior anymore.

[2019-02-18 06:54] Rene-Damm opened #418 "Exceptions in player with il2cpp"
It looks like we get some stripping removing parts of the code that are actually needed. Need to force those things to make it to the player.

[2019-02-18 10:34] caosdoar opened #420 "XInput motor values are incorrect"
The values given to SetMotorSpeeds() to a xbox 360 controller (XInput Gamepad) are not translated correctly to the USB data given to the device. Meaning that a value of 0.1f can put the motors to full speed while 0.2f is barely moving.

The behaviour can be tested with an xbox 360 controller attached and the following code:

[code]

Slowly increasing the pressure on one of the gamepad triggers sho

[2019-02-18 11:45] jechter commented on #399
Fixed by https://github.com/Unity-Technologies/InputSystem/commit/e28d02cad

[2019-02-18 23:34] Nikaas commented on #399
The 0.2.0 from package manager still have the problems.

[2019-02-19 09:13] jechter commented on #381
This is a bug in Unity, where Input data is not correctly transferred to managed code on 32-bit platforms. Fixed in Unity 19.2.

[2019-02-19 13:40] Rene-Damm opened #423 "[Windows] Unplugging keyboard crashes Unity"
https://forum.unity.com/threads/input-system-update.508660/page-9#post-4219033

[2019-02-19 13:44] Rene-Damm opened #424 "Plugging in 8Bitdo gamepad results in error spam"
https://forum.unity.com/threads/input-system-update.508660/page-9#post-4219033

[2019-02-19 13:48] Rene-Damm opened #425 "[Actions] With action connected to both gamepad and keyboard, action fires only once"
https://forum.unity.com/threads/input-system-update.508660/page-9#post-4229821

[2019-02-19 14:01] jechter commented on #386
Fixed by https://github.com/Unity-Technologies/InputSystem/pull/422

[2019-02-19 15:01] Rene-Damm commented on #420
Confirmed. Backend does this

[code]

when it should be doing this

[code]

HID output reports are sent to the device as is. I.e. `DualShockHIDOutputReport` is sent as a binary blob to the device. `DualShockHIDOutputReport.SetMotorSpeeds` performs the translation.

[2019-02-19 15:07] caosdoar commented on #420
Thank you for the response Rene!
I scratched my head for a while with that.

Good to know that about the HID output report. I guess what I'm looking at is the data transformed by the driver or something. I will give another try to reverse engineering the output report of the DualShock3.

Cheers

[2019-02-19 15:17] Rene-Damm commented on #420
Oh, I missed one little detail there. You said DualShock 3. ATM the code only supports the DualShock 4 controller. Support for the DS3 controller is on the TODO list.

For the HID output report format of the DS3, there's several sites around the internet that have docs and/or code snippets for the controller. The DS3 formats in general are much better understood. Even the sensor formats seem to mo

[2019-02-19 15:19] douglas-piconi commented on #398
I'm going to go ahead and close this for now.

[2019-02-19 15:19] #398 closed, assigned to douglas-piconi

[2019-02-19 15:21] Rene-Damm commented on #393
Confirmed. Looking at it, the entire OnScreenControlEditor code has bitrotted and needs an update.

[2019-02-19 15:45] douglas-piconi commented on #325
Should be fixed in 0.2.0-preview.

[2019-02-19 16:03] caosdoar commented on #420
I was doing my own implementation of the DS3 and I tried to follow different implementations, including the sixaxis driver for linux. But nothing seems to match with the windows drivers installed by the "Playstation Now" software.

To be fair I'm not using "InputSystem" but a very simple implementation of my own to support rumble and gamepad-to-player asignment for a game, and I wanted to support

[2019-02-20 08:56] jechter commented on #382
I'm not sure about this. I'm on a mac, and Cmd-delete deletes an action, as expected, same as for deleting objects in the hierarchy. This should work on windows as well, just not sure what the convention for the right key combination is there - but it should be the same as for deleting objects in the hierarchy window? Or are you saying that it works there for some key combo, but not in the Action

[2019-02-20 12:06] jechter commented on #366
This seems to work for me.

[2019-02-20 20:25] Rene-Damm commented on #425
Possibly a duplicate of https://github.com/Unity-Technologies/InputSystem/issues/346.

[2019-02-20 20:33] douglas-piconi commented on #261
@Wahooney ,  with 0.2.0-preview now available.  You should be good now with this issue being fixed.  I'll keep bug open until you can confirm.

[2019-02-20 21:18] JiaUnity commented on #261
@douglas-piconi This issue is fixed somewhere in the past and does not happen anymore.
I closed the FB side and think it is good to close it here as well.

[2019-02-20 21:22] douglas-piconi commented on #261
ok great thank you @JiaUnity

[2019-02-20 21:22] #261 closed, assigned to douglas-piconi

[2019-02-20 23:07] JiaUnity commented on #372
Cannot repro on 2018.3.7f1 with Develop.
[CursorLock.txt](https://github.com/Unity-Technologies/InputSystem/files/2886848/CursorLock.txt)

[2019-02-20 23:44] JiaUnity commented on #367
I can help with this since I have Photoshop on my machine.

[2019-02-21 02:07] JiaUnity commented on #362
I cannot repro this on 2019.1.0b4 with 0.2.0-preview.

[2019-02-21 12:32] mrdev023 commented on #409
Edit: This bug appear when compiling Mac, Linux, and Windows version on Linux.

[2019-02-21 12:40] mrdev023 opened #428 "[Windows Editor] Alpha 9 key pressed always return alpha 8 key"
When i pressed on Alpha 9 keys, Input Debug and Game (In Editor, Build) always pressed the alpha 8 and not alpha 9.

Edit:
I tested on QWERTY US, QWERTY UK and AZERTY layout

Key pressed (AZERTY) :
![event](https://user-images.githubusercontent.com/11292703/53175535-70a61f80-35ec-11e9-964a-c448c2f5bffc.PNG)

Result when Alpha 8 and 9 is pressed:
![key](https://user-images.githubusercontent.com/112

[2019-02-21 14:32] #363 closed, assigned to nobody

[2019-02-21 14:32] #133 closed, assigned to nobody

[2019-02-21 15:42] douglas-piconi opened #430 "Gamepad Input is not processed when Game View is not focused"
How to reproduce:

1. Open attached project
2. Open scene InputTest.unity
 - Make sure you have a controller attached
3. Play the scene
4. Wiggle the left joystick of the controller
 - Note it prints the x and y axes
5. Click Clear in the console
 - This defocuses the game view and focuses on the console window instead
6. Wiggle the left joystick again
 - Note how nothing is printed in the console

[2019-02-21 15:44] douglas-piconi commented on #430
This is related to bug https://github.com/Unity-Technologies/InputSystem/issues/376

parts of this are both bug and enhancement, and will need to be coordinated with controlling the UI with the Stick.

[2019-02-21 18:01] douglas-piconi commented on #346
@periodyctom  Lots of complete rework in this area in 0.2.0-preview.  Would you be able to see if you are still seeing this issue?  (I'm having a little trouble reproducing on my windows machine).

[2019-02-22 09:18] renaldasrep commented on #106
Yep, can no longer reproduce

[2019-02-22 09:18] #106 closed, assigned to nobody

[2019-02-22 09:28] renaldasrep commented on #139
Verified

[2019-02-22 09:28] #139 closed, assigned to nobody

[2019-02-22 09:29] renaldasrep commented on #210
I see it's now corrected in the new WIP docs

[2019-02-22 09:29] #210 closed, assigned to nobody

[2019-02-22 10:21] Rene-Damm commented on #367
My guess is this comes down to a code issue. The icons that Hugo provided come in various resolutions and we're probably just not picking the right size and thus get some automatic downscaling that makes things look blurry.

[2019-02-22 10:58] renaldasrep opened #431 "Input Debugger is unusably slow"
Trying to debug Windows Player from macOS editor
(I tap the Surface screen at the beginning of the video)
[video.zip](https://github.com/Unity-Technologies/InputSystem/files/2893606/video.zip)

[2019-02-22 12:07] renaldasrep commented on #264
It's now under touch, verified

[2019-02-22 12:07] #264 closed, assigned to nobody

[2019-02-22 12:11] renaldasrep commented on #270
Still reproducible

Version 2019.2.0a7 (dddf9ae2be01)
Wed, 20 Feb 2019 14:24:01 GMT
Branch: trunk

Package github  b223957

[2019-02-22 12:25] renaldasrep commented on #265
Now it's always stuck on None
Version 2019.2.0a7 (dddf9ae2be01)
Wed, 20 Feb 2019 14:24:01 GMT
Branch: trunk

Package github [b223957](https://github.com/Unity-Technologies/InputSystem/commit/b2239576178eaf44fc7c1e770f16ac0113aa6bce)

[2019-02-22 12:31] renaldasrep commented on #344
Can no longer reproduce

[2019-02-22 12:31] #344 closed, assigned to todi1856

[2019-02-22 12:40] renaldasrep commented on #169
Still an issue

[2019-02-22 12:42] renaldasrep commented on #170
still an issue

[2019-02-22 12:45] renaldasrep commented on #168
Now it's detecting it as "Indirect", shouldn't it be "Stylus" ?

[2019-02-22 12:48] renaldasrep commented on #172
still an issue

[2019-02-22 12:49] renaldasrep commented on #171
now it seems to be either 0 or some cosmical number like 8.884232E-43

[2019-02-22 13:11] renaldasrep opened #432 "[iOS][Pen] New InputSystem does not detect the new iPencil (the magnetic one)"
Version 2019.2.0a7 (dddf9ae2be01)
Wed, 20 Feb 2019 14:24:01 GMT
Branch: trunk

Package github [b223957](https://github.com/Unity-Technologies/InputSystem/commit/b2239576178eaf44fc7c1e770f16ac0113aa6bce)

[2019-02-22 13:16] renaldasrep commented on #267
Verified as fixed

Version 2019.2.0a6 (d24f6c6b0098)
Thu, 21 Feb 2019 15:09:23 GMT
Branch: input/new/ios

Github package  b223957

[2019-02-22 13:16] #267 closed, assigned to todi1856

[2019-02-22 13:16] renaldasrep commented on #266
Verified as fixed

[2019-02-22 13:16] #266 closed, assigned to todi1856

[2019-02-22 13:18] renaldasrep commented on #269
still an issue

[2019-02-22 18:40] JiaUnity commented on #367
Hmm, I just haven't seen any blurry icon, not even after I change the monitor resolution.
Could you point me to where to look? If it is a bug, we should have a better filing on FB.

[2019-02-23 02:39] JiaUnity commented on #142
This is by design on the MS part.

[2019-02-23 02:39] #142 closed, assigned to nobody

[2019-02-23 03:22] periodyctom commented on #346
I'll take a look tonight or tomorrow.

[2019-02-24 03:05] periodyctom commented on #325
Still occurs in 0.20-preview. Occurs with both XBox One and PS4 controllers on PC. It looks like the zero reference point is incorrect, as neutral causes it to spit out values constantly. The directional values are different between the 2 controller types but the behavior is the same.

Unity Version is 2019.1b4, happens on b3 as well.

I confirmed the behavior by wiping my package cache and ensuri

[2019-02-24 03:51] periodyctom commented on #346
Issue is resolved on my end as of 2019.1b3/b4 and preview 0.2.0-preview

[2019-02-24 03:51] #346 closed, assigned to douglas-piconi

[2019-02-24 03:59] periodyctom commented on #85
With the recent changes to the API, this isn't an issue any more. Do you want to go ahead and close this?

[2019-02-24 04:05] periodyctom opened #433 "Gamepad Dpad doesn't report values if a LeftStick is also assigned to the same DPad Action"
So during some testing this evening on other issues I discovered an interesting issue. (May be related to #325 ).

If I setup a single DPad Action, and then bind both the gamepad DPad and gamepad leftstick to the dpad directions, the physical Dpad will only report values IFF I rotate the dPad around. If I just press and release one of the Dpad buttons, the action doesn't seem to fire.

This is onl

[2019-02-26 11:13] renaldasrep commented on #274
Verified as fixed on @todi1856 fork + Unity Editor d24f6c6b0098

[2019-02-26 11:13] #274 closed, assigned to nobody

[2019-02-26 21:29] manablight commented on #408
Is it possible to use the data from InputEventTrace to implement an input buffer, or will their be built in functionality for the public API?

[2019-02-27 01:21] JiaUnity commented on #78
This is fixed in https://github.com/Unity-Technologies/InputSystem/pull/422
Can close.

[2019-02-27 10:59] todi1856 commented on #265
@Rene-Damm Native PenInputState doesn't have phase variable, but in C# we have this code
in Pen.cs

        // "Park" unused controls.
        [InputControl(name = "radius", layout = "Vector2", usage = "Radius", offset = InputStateBlock.kInvalidOffset)]
        [InputControl(name = "pointerId", layout = "Digital", offset = InputStateBlock.kInvalidOffset)] // Will stay at 0.
        [InputControl(n

[2019-02-27 11:01] todi1856 commented on #220
@renaldasrep can you retest this?

[2019-02-27 13:55] todi1856 commented on #270
Can't reproduce, @renaldasrep can you try to take latest develop branch? It seems you took stable

[2019-02-27 17:39] Rene-Damm commented on #380
Done in https://github.com/Unity-Technologies/InputSystem/pull/394.

[2019-02-27 17:39] #380 closed, assigned to todi1856

[2019-02-27 19:16] #78 closed, assigned to nobody

[2019-02-27 23:00] surGeonGG opened #435 "[Ubuntu] Cannot delete/cut/copy/paste/duplicate/rename action maps or actions by right click menu"
The right click menu in the input screen does not work except for creating action maps and bindings.

* Ctrl+c, ctrl+v, ctrl+d still works.
* Double clicking name to rename still works.
* Del key does nothing.
* Right click menu in the rest of unity still works fine.

I use ubuntu.

Is there a hotkey for deleting action maps/bindings that I can use to tide me over? Del key does not work.

I get th

[2019-02-28 12:29] Rene-Damm opened #436 "[Actions] Not getting disabled automatically when exiting play mode"
Automatic cleanup of actions (i.e. disabling them and releasing all their unmanaged memory) does not seem to work reliably and lead to errors about unmanaged memory being leaked.

https://forum.unity.com/threads/errors-with-new-input-system-when-exiting-play-mode-solved.632644

[2019-02-28 15:04] renaldasrep commented on #270
No longer reproducible 9d9a4e8
Version 2019.2.0a7 (dddf9ae2be01)
Wed, 20 Feb 2019 14:24:01 GMT
Branch: trunk

[2019-02-28 15:04] #270 closed, assigned to todi1856

[2019-02-28 15:08] renaldasrep commented on #272
Still reproducible 9d9a4e8
Version 2019.2.0a7 (dddf9ae2be01)
Wed, 20 Feb 2019 14:24:01 GMT
Branch: trunk

[2019-02-28 15:28] renaldasrep commented on #280
No longer reproducible 9d9a4e8
Version 2019.2.0a7 (dddf9ae2be01)
Wed, 20 Feb 2019 14:24:01 GMT
Branch: trunk

[2019-02-28 15:28] #280 closed, assigned to todi1856

[2019-02-28 15:38] Rene-Damm commented on #409
Forum thread: https://forum.unity.com/threads/dead-keys-like-circumflex-azerty-doesnt-work.625951/

@JiaUnity could you give this a look?

[2019-03-01 19:07] douglas-piconi commented on #428
ok found the problem, the code with the bug is in the editor.  Fix will show up in Unity Editor 2019.2 alpha, 2019.1 beta.  Will try for 2018.3 release.   Will update this bug report with the exact releases once fix has landed to public version of the Editor.

[2019-03-01 21:02] douglas-piconi commented on #420
Bug found in the Unity Editor code.  Fix will go into 2019.2 alpha, 2019.1 beta, and hopefully 2018.3 patch release.   I will update the ticket when the fix lands in each public release.   Unfortunately @caosdoar the Unity Editor fixes take weeks to land instead of an instant fix in the input package.  I'll keep you updated

[2019-03-01 22:22] caosdoar commented on #420
Thank you for the update Douglas.

[2019-03-03 04:37] danielheim opened #438 "Dpad bindings not readable, but Vector2 bound to Dpad works."
As per my [report](https://forum.unity.com/threads/input-system-update.508660/page-9#post-4235749) in the forums...

Dpad values are not readable when bound directly.
However if I bind Dpad direction to a composite Vector2 binding, it works as expected.

Testing on Unity 2018.3.6f1 on Mac with InputSystem v0.2.0-preview from Package Manager. Testing input via wired DualShock 4 and XBox 360 control

[2019-03-03 04:42] danielheim commented on #433
I'm experiencing issues reading any values from a direct Dpad binding. I've listed a bug under [#438](https://github.com/Unity-Technologies/InputSystem/issues/438).
However, I find I can retrieve values when binding via a Vector2 composite.
Hope that helps.

[2019-03-03 12:03] mrdev023 commented on #428
Ok but this appear also on build from Unity 2018.3 release. It's normal?

[2019-03-03 18:05] gegagome commented on #131
In my case I see the xbox one controller in my Input Debugger but no response from any input whatsoever.

I do have successful keyboard events working as expected.

[2019-03-04 09:38] periodyctom commented on #325
After some testing and fiddling, I've been able to use the "Invert" processor trick that was mentioned on the Forums to get my XBox One controller to report values correctly. (I did have to use an custom axis deadzone to get actual 0 values however).

I'll test against the PS4 controller again with my new inputactions setup and see if it's not just a config issue. If so I'll close this out.

[2019-03-04 09:52] renaldasrep commented on #220
No longer an issue, if anything - it's faster than the old input

[2019-03-04 12:50] mrdev023 commented on #381
Not work on Unity 2019.2.0a6

[2019-03-04 12:54] jechter commented on #381
The fix should ship in 2019.2a7

[2019-03-04 15:23] douglas-piconi commented on #428
@mrdev023 Yep, the bug goes all the way back a year or so even in 2018.1 and 2018.2.    It is definitely broken in 2018.3 and we will get it patched.

[2019-03-04 15:51] #220 closed, assigned to todi1856

[2019-03-04 16:20] renaldasrep commented on #281
No longer an issue

[2019-03-04 16:20] #281 closed, assigned to nobody

[2019-03-04 22:21] periodyctom commented on #325
Tested with an XBOX One and PS4 controller on 2 different windows boxes.

XBOX One controller now works as intended with the addition of Invert and AxisDeadzone processors.
PS4 controller still has issues with left to down range (around the 120 degree to 300 degree range) and I'm not sure if that's noise from the gyro or bad values from the stick.

Should I close this out and create/find a separat

[2019-03-04 22:23] douglas-piconi commented on #325
If you wouldn't mind closing this,  and we can have a clean new bug on what exists right now.  Thank you for all the testing help on this.

[2019-03-05 02:34] JiaUnity commented on #315
I cannot repro this either.
Also it seems to be Shift+Space for me to maximize a window in Editor.

[2019-03-05 02:39] JiaUnity commented on #313
@james7132 Do you still see the same leak on 0.2.0-preview?
If so, you can file a bug through Unity Bug Reporter, so that you can attach a minimal repro project for us to see the problem. We haven't seen it on our end.

[2019-03-05 02:45] JiaUnity commented on #304
I cannot repro this on 0.2.0-preview.

[2019-03-05 03:03] JiaUnity commented on #246
This does not happen on 0.2.0-preview and very obvious fixed in the past.

[2019-03-05 03:03] #246 closed, assigned to Rene-Damm

[2019-03-05 03:11] JiaUnity commented on #232
Don't think this repro on 0.2.0-preview.

[2019-03-05 03:12] JiaUnity commented on #232
This should be fixed. Close.

[2019-03-05 03:12] #232 closed, assigned to Rene-Damm

[2019-03-05 03:14] JiaUnity commented on #161
No reproducible case. Close.
If this still happens, please file through Unity Bug Reporter, so a minimum repro project can be attached.

[2019-03-05 03:14] #161 closed, assigned to todi1856

[2019-03-05 03:18] JiaUnity commented on #58
This bug is outdates. The UI has had a makeover and this does not repro.

[2019-03-05 03:18] #58 closed, assigned to nobody

[2019-03-05 03:32] JiaUnity commented on #42
This has been fixed long time ago.

[2019-03-05 03:32] #42 closed, assigned to nobody

[2019-03-05 03:35] JiaUnity commented on #32
Certainly fixed long time ago.

[2019-03-05 03:35] #32 closed, assigned to nobody

[2019-03-05 05:12] #325 closed, assigned to nobody

[2019-03-05 10:34] renaldasrep opened #441 "[Android][Keyboard] Logitech (K270) wireless keyboard is not recognized as a Keyboard device"
Found using: 9d9a4e8
Happens when connecting: Logitech (K270) via Logitech Unifying Receiver (usb dongle)

Expected result:
When this keyboard is connected, the InputSystem identifies it as a Keyboard and other devices if need be

Actual result:
When this keyboard is connected, the InputSystem identifies it as Joystick and Mouse, but not Keyboard

[2019-03-05 10:35] renaldasrep commented on #441
@Rene-Damm can you please assign this to @todi1856 ? Thanks!

[2019-03-05 12:50] mrdev023 commented on #381
It work on 2019.2.0a7. But Application crash when enter in fullscreen with unityInstance.SetFullscreen(1).

[2019-03-05 21:14] JiaUnity commented on #70
Verified fix on Trunk 2019.2.0a8. Close.

[2019-03-05 21:14] #70 closed, assigned to nobody

[2019-03-05 21:14] JiaUnity commented on #138
Verified fix on Trunk 2019.2.0a8. Close.

[2019-03-05 21:14] #138 closed, assigned to nobody

[2019-03-06 00:05] JiaUnity commented on #89
It seems the multiple-touch handling is fixed long time ago. Closing.

[2019-03-06 00:05] #89 closed, assigned to Rene-Damm

[2019-03-06 02:05] JiaUnity commented on #374
This doesn't repro on 2018.3.8f1 anymore.

[2019-03-06 02:25] JiaUnity commented on #369
Don't see this on 0.2.0-preview with 2019.1.0b6. Closing.

[2019-03-06 02:25] #369 closed, assigned to nobody

[2019-03-08 15:43] JeromyStroh commented on #409
https://issuetracker.unity3d.com/issues/linux-keyboard-dead-keys-are-not-reported-in-new-input-system

[2019-03-08 22:35] JiaUnity commented on #57
I cannot repro this anymore on 0.2.0-preview with 2019.1.0b6.

[2019-03-08 23:29] JiaUnity commented on #355
When binding a stick movement to a 2D Vector Composite, the Deadzone error still happens.
The work around is to use bind the movement with "Leftstick" directly, instead of using a 2D Vector Composite.

[2019-03-09 13:00] CarpetHead opened #451 "In unity 2018.3.8f1, the current package version does not compile"
Library\PackageCache\com.unity.inputsystem@0.2.0-preview\InputSystem\NativeInputRuntime.cs(130,25): error CS1593: Delegate 'NativeUpdateCallback' does not take 3 arguments

[2019-03-10 05:42] PetrG7 opened #452 "Error after downloading 0.1.2 and 0.2.0"
Hello guys,

So I am really pumped to try out you'r input system because it just looks great, but every time I do the installation process this error shows : `Library\PackageCache\com.unity.inputsystem@0.1.2-preview\InputSystem\NativeInputRuntime.cs(107,25): error CS1593: Delegate 'NativeUpdateCallback' does not take 3 arguments` I am using Unity 2018.3.8f1 on Windows 7. If you know something abou

[2019-03-10 09:00] KospY commented on #452
Changing the line `#elif UNITY_2019_1` by `#elif UNITY_2018_3_OR_NEWER` make the code compile for me.
I assume Unity backported something from 2019.1 to 2018.3.8?

[2019-03-10 11:41] PetrG7 commented on #452
@KospY Thank you very much good sir!

[2019-03-11 08:21] AndrewNovakP commented on #451
I have this problem too and have quick fix for you while we waiting official fix.
Just copy and paste code from above to preprocessor body (shown in attached image)
It's working for me :)
![QuickFix](https://user-images.githubusercontent.com/6072592/54109442-5a1f0700-43e7-11e9-8a7c-bbca293a0497.png)

[2019-03-11 19:04] douglas-piconi commented on #452
Fix on its way to the Package manager  when it lands it will be 0.2.1-preview.   We apologize for this, its looks sloppy from a user standpoint.  The reason this happened multiple times is how a package is separate from the unity engine code.  Its rare that we have to make a native api change in the editor/engine that breaks the package.  When we do, unity releases are usually 2-3 weeks apart, so

[2019-03-11 19:04] douglas-piconi commented on #451
Fix on its way to the Package manager  when it lands it will be 0.2.1-preview.   We apologize for this, its looks sloppy from a user standpoint.  The reason this happened multiple times is how a package is separate from the unity engine code.  Its rare that we have to make a native api change in the editor/engine that breaks the package.  When we do, unity releases are usually 2-3 weeks apart, so

[2019-03-11 19:16] douglas-piconi commented on #428
Exact release of fix will be in Unity 2019.2.0a9 and 2019.1.0b8

[2019-03-11 19:16] #428 closed, assigned to douglas-piconi

[2019-03-11 19:17] douglas-piconi commented on #420
@caosdoar Exact release of fix will be in Unity 2019.2.0a9 and 2019.1.0b8

[2019-03-11 19:17] #420 closed, assigned to Rene-Damm

[2019-03-11 19:52] caosdoar commented on #420
@douglas-piconi Is 2018.3 not getting a fix for this?

[2019-03-11 19:58] douglas-piconi commented on #420
@caosdoar Right now 2018.3 is being certified for the LTS (long term support) release of unity.  Release management is only taking the most serious and critical unity bug fixes for that release.  Due to the fact that the new input system is in preview/beta, its not being considered a critical feature for 2018.3. This fix even though its small and not risky, has not been approved to get back-ported

[2019-03-11 20:01] caosdoar commented on #420
Thank you for the information @douglas-piconi

[2019-03-11 20:59] gotenxds opened #460 "Crash on 2019.1.0b4"
Hello, I tried to use the new input setting in my project, I made sure to set the input setting to both,
made sure I'm using .net 4, made no code changes and ran the game.
Unity crashed.

![image](https://user-images.githubusercontent.com/3519520/54157593-4e682a80-4451-11e9-9cca-b7aaa047ec4e.png)

I attached a zip file with the crash dump and logs.

[Crash_2019-03-10_204501899.zip](https://github.

[2019-03-11 21:15] michaeleconomy commented on #25
I had an issue where my Keyboard.current.leftShift.isPressed was returning the opposite state, but restarting unity fixed it.   using input system 0.2.0 - unity 2018.3.0f2

[2019-03-11 23:56] JiaUnity commented on #313
Didn't hear back from the user about the issue. Closing.
If anyone still runs into this issue on the latest Stable, please file a bug through Unity Bug Reporter. An attached minimum repro project would help us to identify the issue, since we don't see it on our end.

[2019-03-11 23:56] #313 closed, assigned to Rene-Damm

[2019-03-12 00:02] JiaUnity commented on #208
This should have been fixed in the past updates. I don't see it on 2019.1 with 0.2.0-preview.
Closing.

[2019-03-12 00:02] #208 closed, assigned to nobody

[2019-03-12 01:00] JiaUnity commented on #7
No repro for this bug for a long time. It should be fixed in the past updates.

[2019-03-12 01:00] #7 closed

[2019-03-12 01:04] JiaUnity commented on #2
I think this issue is solved through the update from Rene by adding Cancelled callback functions.
Probably can close.

[2019-03-12 01:55] JiaUnity commented on #397
No repro for me.

[2019-03-12 11:00] #2 closed

[2019-03-12 15:47] #397 closed, assigned to douglas-piconi

[2019-03-12 19:54] douglas-piconi commented on #452
Fix landed  0.2.1-preview in package manager.

[2019-03-12 19:54] #452 closed, assigned to nobody

[2019-03-12 19:54] douglas-piconi commented on #451
Fix landed  0.2.1-preview in package manager.

[2019-03-12 19:54] #451 closed, assigned to nobody

[2019-03-12 21:32] JiaUnity commented on #382
I think Rene mentioned Ctrl + s is reserved by Editor, so he had to use Alt + S as Save.
Also, Ctrl + C, V, D, X works as Copy, Paste, Duplicate and Delete on Windows.
I think we can close this for now.

[2019-03-12 21:32] Rene-Damm commented on #16
On latest head, this should be resolved. If needed, noise detection/filtering on `.current` should be happening.

[2019-03-12 21:32] #16 closed, assigned to StayTalm

[2019-03-12 21:36] #382 closed, assigned to nobody

[2019-03-12 22:00] #315 closed, assigned to nobody

[2019-03-12 22:06] JiaUnity commented on #360
@scdrumz Is this still the case for 0.2.0-preview?

[2019-03-12 22:21] #304 closed, assigned to nobody

[2019-03-12 22:25] JiaUnity commented on #252
I don't see this happen on Develop anymore.

[2019-03-12 22:25] #252 closed, assigned to Rene-Damm

[2019-03-12 23:47] JiaUnity commented on #374
Also no repro on 2019.1.0b7. Pretty this is fixed somewhere in the past.

[2019-03-12 23:47] #374 closed, assigned to nobody

[2019-03-12 23:48] JiaUnity commented on #22
Does not repro anymore

[2019-03-12 23:48] #22 closed, assigned to nobody

[2019-03-13 14:30] Rene-Damm commented on #393
Should be fixed on latest head.

[2019-03-13 14:30] #393 closed, assigned to nobody

[2019-03-13 16:11] Rene-Damm opened #466 "[UI] Unclear what exactly the various devices in the control picker represent"
The current UI presents layout information registered with the system as is. However, to understand exactly which device(s) a given layout supports, one has to have understanding of those layouts.

That should not be necessary.

In the UI, presentation of the various device options should be clear and unambiguous.

For example, at the layout level, an Xbox controller on Windows is a different layo

[2019-03-13 18:50] JiaUnity commented on #349
Known issue. Please vote it here: https://issuetracker.unity3d.com/issues/windows-osx-android-mouse-mouse-dot-scroll-glitches-when-moving-mouse-after-scrolling-a-bit
Closing.

[2019-03-13 18:50] #349 closed, assigned to nobody

[2019-03-13 21:30] JiaUnity commented on #153
@covisa Are you still able to repro this on 0.2.0-preview? You probably also need to update to 2018.3.

[2019-03-13 23:13] JiaUnity commented on #241
Dualshock controller should work on Windows and OSX, unless connected via bluetooth, then it has all kinds of issues.
Deadzone is not implemented for the time being, so it is by design if it doesn't work.
Closing.

[2019-03-13 23:13] #241 closed, assigned to Rene-Damm

[2019-03-13 23:42] JiaUnity commented on #226
This should be fixed in the past updates. Instead of repeat, using "InputAction.continuous = true" to achieve the same effect.
If there is any more issue, please feel free to file bug through Bug Reporter in Editor. With the help of a minimum repro project, we'll be able to identify and resolve issues sooner.

[2019-03-13 23:42] #226 closed, assigned to Rene-Damm

[2019-03-13 23:43] JiaUnity commented on #132
Fixed. Close with #266

[2019-03-13 23:43] #132 closed, assigned to nobody

[2019-03-14 12:34] Rene-Damm opened #467 "[UI] Errors about leaked memory when using interactive pick button"
When using the interactive pick button in the action editor, sometimes there are errors in the console about leaked native memory. I think the cause is simply that m_RebindOperation in the code is not disposed of in time.

[2019-03-14 14:27] Rene-Damm opened #469 "[Events] InputUpdateType.Manual does not work"
1. Set updates to manual in input settings.
2. Call Update(InputUpdateType.Manual).

Expected: State updated according to latest events.
Actual: no change in state

https://forum.unity.com/threads/how-to-update-input-system-manually.640105/

[2019-03-14 15:34] Rene-Damm commented on #460
@gotenxds Any chance you're using input actions in your project. We had a memory corruption introduced in 0.2-preview which has since been fixed (will be part of next package). If actions are in play here, it's a very likely source of the problem as the corruption has led to various crashes.

[2019-03-15 04:47] periodyctom opened #470 "Button Actions only handle default "Press" Modifier exactly once if Continuous Flag is false"
Seems to have been introduced at least in the newer preview packages (0.2.0, 0.2.1) on windows.

If I have the default Press modifier (Press and release works fine), it only fires once and never again as long as the device is connected. I have the Continuous flag set to off.

Happens with both XBox One and PS4 controller. I've tested on 2 Win10 boxes with both controllers, I don't think it's relat

[2019-03-16 13:16] gotenxds opened #472 "enabling events are inconsistent"
Working on macos, unity 2018.3.7f1 input system 0.2.1

This may be related to #261 but a bit different.

If you keep presing a button while enabling/disabling it you will get different results and different times:

1. press button (and hold it)
2. disable event
3. enable event => event is called (button is still pressed)
4.disable event
5. enable even => event is not called this time (button is no

[2019-03-16 13:51] gotenxds commented on #460
I think you may be right, anyway for now I've moved back to 2018 7f1 (as 8f1 seems to have the same issue.)

[2019-03-16 15:35] gotenxds opened #473 "Events are being called for any key on first input in play mode"
Working on macos, unity 2018.3.7f1 input system 0.2.1

So I encountered an odd issue where any events that I have might get called for any button I press on the keyboard, for example, I have the following actions:

![image](https://user-images.githubusercontent.com/3519520/54477070-d44af380-480c-11e9-9b69-e90fc8315343.png)

As you can see I have move and roll actions
the roll action is bound to le

[2019-03-18 08:14] Rene-Damm commented on #225
Should be fixed.

[2019-03-18 08:14] #225 closed, assigned to Rene-Damm

[2019-03-18 08:14] Rene-Damm commented on #367
Should be fixed.

[2019-03-18 08:14] #367 closed, assigned to nobody

[2019-03-18 13:11] Rene-Damm commented on #362
I think I've still seen this one lately. But it seems to only happen when "certain" things happen with devices and/or update types. But yeah, not sure it makes sense to keep the ticket open without having some firmer details.

[2019-03-18 13:15] Rene-Damm commented on #408
It is possible to use it for that. Basically, `InputEventTrace` allows you to maintain a record of input that's been coming in. Either on a specific device or generally in the system.

There's also thoughts about building a more easily accessible mechanism through `InputStateHistory` which would allow you to keep arbitrary history of input state. However, that part isn't functional yet.

[2019-03-18 14:18] Rene-Damm commented on #473
Sounds like a stuck key.

@JiaUnity Does this repro for you?

[2019-03-18 14:50] gotenxds commented on #473
@Rene-Damm I thought at first that this might be a stuck key, but I checked multiple times, non of my keys are stuck, also it happens only for the first input, a stuck key would not wait for the first input of a game.

Furthermore, this reproduces on my windows pc which has a different keyboard.

[2019-03-19 05:58] periodyctom commented on #470
As an addendum, if I use the continuous flag, I can press and release and the Performed events work as expected, it's only when Continuous is set to false that the event never fires again until the system is reloaded.

[2019-03-19 14:02] covisa opened #477 "UIActionInputModule - all PointerEventDatas have their button set to Left regardless of pressed button"
All PointerEventDatas received by components implementing IPointerClickHandler, IDragHandler etc. have the button field set to InputButton.Left even when the event originates from Middle Click Action or Right Click Action.

Action setup:
![actions](https://user-images.githubusercontent.com/37138133/54610945-b674cd00-4a5e-11e9-8884-49420b167f89.png)

Test script:
[code]

Resulting log using all dif

[2019-03-19 14:05] covisa commented on #153
Hi, I haven't been able to reproduce the issue in the newer versions of
InputSystem and Unity anymore.

On Wed, Mar 13, 2019 at 11:30 PM JiaUnity <notifications@github.com> wrote:

--
Visa Keinänen
Colossal Order
visa.keinanen@colossalorder.fi

[2019-03-19 17:53] jackpr-unity commented on #333
This is just how it works.  This is what steamvr outputs.

[2019-03-19 17:53] #333 closed, assigned to nobody

[2019-03-19 17:56] jackpr-unity commented on #334
all values changed to trackpad as of 0.2.1-preview and editor 2019.1.0b8

[2019-03-19 17:56] #334 closed, assigned to nobody

[2019-03-19 17:56] jackpr-unity commented on #195
InputSystem movement to 19.1+ is imminent. Closing this now.

[2019-03-19 17:56] #195 closed, assigned to StayTalm

[2019-03-19 18:51] jackpr-unity commented on #207
Verified fixed with editor 2019.1.0b78 and 0.2.1-preview

[2019-03-19 18:51] #207 closed, assigned to StayTalm

[2019-03-19 18:57] jackpr-unity commented on #128
This seems to be fixed in 0.2.1-preview (Editor 2019.1.0b8).

@KospY can you confirm?

[2019-03-19 21:44] jackpr-unity commented on #251
No longer encountered in 2019.1.0b8 with package version 0.2.1-preview

[2019-03-19 21:44] #251 closed, assigned to nobody

[2019-03-19 23:34] jackpr-unity opened #479 "[XR] WindowsMR controls do not respond"
Check this function using Assets/QA/Tests/XRDeviceActions/WMR/WMRActions.unity

Most WindowsMR controls trigger actions, however the following do not:
- right joystick axis2d
- left trigger button
- left device position

These controls react appropriately in the Input Debugger.

[2019-03-19 23:37] jackpr-unity commented on #479
This affects both WindowsMR and OpenVR+WindowsMR

[2019-03-19 23:37] jackpr-unity commented on #479
Found using Unity 2019.1.0b8 and package version 0.2.1-preview

[2019-03-19 23:42] jackpr-unity commented on #412
2019.1.0b8, package version 0.2.1-preview
WMR haptics straight up don't work for me.

[2019-03-19 23:46] jackpr-unity opened #480 "XR - WMR Haptics do not fire"
Found with 2019.1.0b8 and package version 0.2.1-preview

Use the XRHaptics scene in this repository to reproduce

[2019-03-20 00:10] JiaUnity commented on #418
Is this already fixed? I don't see it on 2019.1.0b8 with Develop.

[2019-03-20 00:12] JiaUnity commented on #423
I tried unplug/plug keyboard the other day for another bug, didn't see any crash.
Is this fixed?

[2019-03-20 00:12] JiaUnity commented on #424
Unless we get exactly the same device for this, I don't see how to test this.

[2019-03-20 00:34] JiaUnity commented on #425
I have a xbox controller plugged in all the time. I've never seen this bug before.
I'll see if the user can provide more specific info.

[2019-03-20 00:56] JiaUnity commented on #430
This should be by design.

[2019-03-20 00:59] JiaUnity commented on #431
@renaldasrep is this still the case?
I can debug Windows Player from Windows Editor without issue.

[2019-03-20 00:59] JiaUnity commented on #432
@renaldasrep Please file this bug in FogBugz. Thanks!

[2019-03-20 01:04] JiaUnity commented on #480
@jackpr-unity file this bug in FogBugz. Thanks!

[2019-03-20 01:05] JiaUnity commented on #479
@jackpr-unity File bugz in FogBugz please, thanks!

[2019-03-20 01:08] JiaUnity commented on #441
@renaldasrep file this in fogbugz, please. Thanks!

[2019-03-20 01:18] JiaUnity commented on #362
Without more detail how to repro this, there is no way to tell what the cause is.
Suggest close this bug and file better ones in FB when we run into it again.

[2019-03-20 01:20] JiaUnity commented on #360
No reply. Cannot repro. Close.

[2019-03-20 01:20] #360 closed, assigned to nobody

[2019-03-20 01:23] JiaUnity commented on #239
@jackpr-unity if this still repro, please file it into the FogBugz. Thanks!

[2019-03-20 01:24] JiaUnity commented on #238
@jackpr-unity If this still repro, please file it to FogBugz, thanks!

[2019-03-20 01:27] JiaUnity commented on #30
@Rene-Damm @todi1856 does it mean this one is fixed now?

[2019-03-20 01:28] JiaUnity commented on #128
@jackpr-unity if this is fixed for you, close it.

[2019-03-20 01:28] JiaUnity commented on #128
Seems fixed. Close.

[2019-03-20 01:28] #128 closed, assigned to StayTalm

[2019-03-20 01:34] #153 closed, assigned to nobody

[2019-03-20 20:10] jackpr-unity commented on #255
Works (mostly) in editor 2019.1.0b8 and package version 0.2.1-preview. Filed a bug related to angular acceleration

[2019-03-20 20:10] #255 closed, assigned to nobody

[2019-03-20 20:46] jackpr-unity commented on #212
They're reported the same in software - no way to fix this

[2019-03-20 20:46] #212 closed, assigned to nobody

[2019-03-20 21:09] jackpr-unity commented on #211
Oculus Go hmd now has an entry, but Oculus Go controller does not

[2019-03-20 21:29] jackpr-unity commented on #480
Moved to fogbugz https://fogbugz.unity3d.com/f/cases/1139045/

[2019-03-20 21:29] #480 closed, assigned to nobody

[2019-03-20 21:33] jackpr-unity commented on #479
Moved to https://fogbugz.unity3d.com/f/cases/1139047/

[2019-03-20 21:33] #479 closed, assigned to nobody

[2019-03-20 21:34] #203 closed, assigned to StayTalm

[2019-03-20 21:56] jackpr-unity commented on #211
Moved to https://fogbugz.unity3d.com/f/cases/1139056/

[2019-03-20 21:56] #211 closed, assigned to nobody

[2019-03-20 22:11] #239 closed, assigned to StayTalm

[2019-03-20 22:12] #238 closed, assigned to nobody

[2019-03-21 06:47] periodyctom commented on #470
[PressButtonGamepadMinRepro.zip](https://github.com/Unity-Technologies/InputSystem/files/2991048/PressButtonGamepadMinRepro.zip)

Attached is a minimum repro project for this issue. I Have two button actions, one mapped to buttonWest/DKey and one mapped to buttonEast/F Key, the actions will fire once and then never again.

This is using the stock input package from the package manager, the latest

[2019-03-21 10:34] Rene-Damm opened #489 "[UI] Starting rename while rename is already in progress breaks rename field"
Repro:

1. In action editor, double-click action to start renaming
2. Double-click action map to start renaming action map
3. Start typing

Expected: Renaming of action is aborted, renaming of action map is started and behaves normally
Actual: Renaming of action is not aborted, renaming of action map seemingly is started as normal but any typed character overwrites the current name so that in effe

[2019-03-21 18:53] mwnDK1402 commented on #383
I'm getting the same problem. 0.2.1-preview on Unity 2018.3.9f1, Windows 10, Logitech G703.

Edit: I thought this might be something with Logitech mice, but @Wokarol got the same bug with a different mouse.

[2019-03-21 18:54] Wokarol commented on #383
Also "ScrollVertical [Any]" return 1 for each LMB press (Win 10, preview-0.2.6, Unity 2019.1.0b8)

[2019-03-22 01:42] periodyctom commented on #470
I tested this a bit further with the sample I provided, same result with the keyboard scheme. And whichever goes first still gates the action, so it doesn't seem that order or device kind matters.

[2019-03-22 12:45] renaldasrep commented on #431
Yeah, I think it was due to 32-bit platforms being broken

[2019-03-22 12:45] #431 closed, assigned to nobody

[2019-03-24 07:03] danielheim commented on #438
This appears to be fixed now in v2.6.0-preview (Unity 2019.1.0b8). Thanks to much!

However, If I add a "Press" interaction to the binding, I only seem to be able to get one successful press from the input, and nothing further.

[2019-03-24 21:03] periodyctom opened #492 "Release-Only Button Interaction Produces no events"
[PressButtonGamepadMinRepro.zip](https://github.com/Unity-Technologies/InputSystem/files/3000846/PressButtonGamepadMinRepro.zip)

This updated sample shows that buttonNorth/keyboard a produce no events when the action is set to "Release" and not "Press" or "PressAndRelease".

Win10 64, tested with keyboard, PS4 DualShock, and XBOX One Gamepads. 0.2.6-preview

[2019-03-24 21:06] periodyctom opened #493 "Button PressAndRelease now has incorrect/unstable behaviors in 0.2.6 preview"
[PressButtonGamepadMinRepro.zip](https://github.com/Unity-Technologies/InputSystem/files/3000846/PressButtonGamepadMinRepro.zip)

In this sample, buttonSouth/keyboard s produces Performed on both press and release when the Continious flag is set to false. I'm no longer seeing Canceled like the previous package versions.

If I set the Continous flag to true, Performed is spammed infinitely and does

[2019-03-24 21:11] periodyctom opened #494 "If PS4 DualShock is plugged into PC, read input action path assignment is always angularVelocity"
If I have a PS4 DualShock plugged in and use the input reading assignment feature, it always assigns to angularVelocity within a second and overrides any other input that may occur, including keyboard presses.

Win10 64, PS4 DualShock, 0.2.6-preview

[2019-03-24 21:46] periodyctom commented on #470
Now seems fixed as of 0.2.6 preview.

[2019-03-24 21:46] #470 closed, assigned to Rene-Damm

[2019-03-25 13:55] ghost opened #495 "Old version needs some love, gamepad collision please send help"
hello, our game use version 0.0.7 (cant upgrade, it breaks or send help ?), we have a problem where we have two gamepads over an internet session colliding code wise, how to differenciate them ? help appreciated :/ also help appreciated in migrating the input system because we are stuck at this old version

(and it happens 100% for example if both players have an xbox 360 controller, we're using q

[2019-03-25 14:14] exiledgamesstudio commented on #495
(and it happens 100% for example if both players have an xbox 360 controller, we're using quantum for network but clients use inputsystem

[2019-03-25 19:39] jackpr-unity commented on #25
All issues I had seem fixed using 2019.1.0b8 and package commit 717086861b14d71bca05636c5d6af72491820040

@JiaUnity can you verify that all keys work correctly using the mac keyboard as well (especially numpad '=')?

[2019-03-25 20:18] jackpr-unity commented on #285
{Primary2DAxisClick} and {Primary2DAxisTouch} are actually correct.

They are verified to function correctly with 2019.1.0b8 and package commit 717086861b14d71bca05636c5d6af72491820040

[2019-03-25 20:39] JiaUnity commented on #25
The numpad = still doesn't work.

[2019-03-25 23:56] JiaUnity commented on #247
Verified fix on 2019.1.0b9 with Develop (16f1ab7)

[2019-03-25 23:56] #247 closed, assigned to Rene-Damm

[2019-03-26 00:54] JiaUnity commented on #418
The exception does not happen on 2019.1.0b9 with Develop (7170868)

[2019-03-26 00:54] #418 closed, assigned to nobody

[2019-03-26 00:55] JiaUnity commented on #423
This crash does not happen on my end. Without more specific information, it is very hard to tell what the issue is.
If anyone experiences this crash, please file through Bug Reporter in the Unity Editor.

[2019-03-26 00:55] #423 closed, assigned to nobody

[2019-03-26 00:56] JiaUnity commented on #425
I've never seen this issue. No repro on 2019.1.0b9 with Develop (7170868)

[2019-03-26 00:56] #425 closed, assigned to Rene-Damm

[2019-03-26 18:04] Wokarol opened #498 "Wrong asset type in inspector"
Every Input Action Asset type shows as "Input Action Asset" in inpector, why is that?
`[SerializeField] MyMap map;` shows as `Map    None (Input Action Asset)` instead of `Map    None (MyMap)`

[2019-03-26 20:47] JiaUnity commented on #433
I cannot repro this exact bug on 2019.1 with Develop (7170868)
@periodyctom Please see SimpleDemo in the project to filter out stick noise.

[2019-03-26 20:59] JiaUnity commented on #438
@danielheim Glad the bug is fixed.
About the "Press" interaction, if the option "Press and Release" only trigger the action once, it is a known bug and you can track it here: https://issuetracker.unity3d.com/issues/ui-press-and-release-for-press-interaction-does-not-trigger-action-on-release
It should be fixed in future release.
If you have other issues, feel free to file a bug through Bug Reporte

[2019-03-26 20:59] #438 closed, assigned to nobody

[2019-03-26 21:59] JiaUnity commented on #460
@gotenxds Hey, have you tried the 0.2.6-preview with 2019.1.0b9? Is the crash still an issue? I cannot repro this on my side.

[2019-03-26 23:34] JiaUnity commented on #473
I cannot repro this with 2019.1.0b9 with Develop (7170868)

[2019-03-27 00:50] JiaUnity commented on #493
This is by design.
@Rene-Damm can you confirm?

[2019-03-27 01:05] JiaUnity commented on #477
If I'm not mistaken, the PointerEventData.button uses the old input mouse button. I don't think it works with the new ISX.
@Rene-Damm can you confirm this?

[2019-03-27 05:34] periodyctom commented on #433
It's no longer a problem with the Fall through flag. Closing.

[2019-03-27 05:34] #433 closed, assigned to nobody

[2019-03-27 10:06] zadirion opened #500 "PlayerInput with UnityEvents broken"
PlayerInput line 688 tries to find action by id
`var action = m_Actions.FindAction(id);`
id is a guid without being enclosed in curly braces
FindAction fails because of this. It calls TryGetActionIndex inside, which figures out whether the passed parameter is an action name or an id, distinguishing them by whether they start with a curly brace. See InputActionMap.cs line 213:
`var isReferenceById

[2019-03-27 21:14] ghost commented on #495
Hello ? Anyone reading ? i am serious i do need help :/

[2019-03-27 21:56] JiaUnity commented on #351
Fixed. Closing
https://issuetracker.unity3d.com/issues/editor-ui-input-action-ui-does-not-handle-infinity-or-e-notation

[2019-03-27 21:56] #351 closed, assigned to Rene-Damm

[2019-03-27 21:57] JiaUnity commented on #299
Resolved as by design.
https://issuetracker.unity3d.com/issues/controller-unwanted-deadzone-when-calling-gamepad-dot-stick-dot-x-readunprocessedvalue

[2019-03-27 21:57] #299 closed, assigned to nobody

[2019-03-27 21:58] #57 closed, assigned to nobody

[2019-03-27 21:58] JiaUnity commented on #408
Fixed. Closing.

[2019-03-27 21:58] #408 closed, assigned to nobody

[2019-03-27 22:04] JiaUnity commented on #495
I'm sorry, but we are not going to do bug fix for preview package.
Depends on your Unity version, 0.2.0-preview should work for 2018.3, and the latest update 0.2.6-preview works for 2019.1.0b8.

[2019-03-27 23:05] ghost commented on #495
even if not a bug fix, is there a guide to upgrade ? the code relays on internals/api... i can try 0.2.0 but is gamepad collision fixed in there ?? thats the main issue i think

(had tried to upgrade tho and had issues with the code)

[2019-03-27 23:25] JiaUnity commented on #399
No repro on Develop (7170868). Confirm fixed.

[2019-03-27 23:25] #399 closed, assigned to nobody

[2019-03-27 23:26] JiaUnity commented on #386
There is some issue about the file path, but this one is fixed.

[2019-03-27 23:26] #386 closed, assigned to nobody

[2019-03-27 23:35] JiaUnity commented on #387
Confirm fixed for 0.2.6-preview.

[2019-03-27 23:35] #387 closed, assigned to Rene-Damm

[2019-03-27 23:54] JiaUnity commented on #317
PS4 controller works for OSX when plugged. Bluetooth controller still needs work but it is known. Closing.

[2019-03-27 23:54] #317 closed, assigned to Rene-Damm

[2019-03-28 19:52] JiaUnity commented on #495
@exiledgamesstudio
You can update package by using Package Manager: https://docs.unity3d.com/Packages/com.unity.package-manager-ui@2.1/manual/index.html
If you download from here, just copy the "com.unity.inputsystem" folder from Packages into your own project's Packages folder. But again, depends on your Unity version, the latest release only supports 2019.1.

[2019-03-28 20:31] JiaUnity commented on #366
Fixed long time ago? @Rene-Damm

[2019-03-28 22:02] JiaUnity commented on #385
The UI updates now. But it has to be re-opened after entering Play Mode, otherwise the UI doesn't automatically update, which makes sense.

[2019-03-28 22:02] #385 closed, assigned to nobody

[2019-03-28 23:06] JiaUnity commented on #365
Verified fix on 2019.1.0b9 with Develop (af5d4c1)

[2019-03-28 23:06] #365 closed, assigned to Rene-Damm

[2019-03-28 23:12] JiaUnity commented on #355
Verified fix on 2019.1.0b9 with Develop (af5d4c1)

[2019-03-28 23:12] #355 closed, assigned to nobody

[2019-03-28 23:14] jackpr-unity commented on #371
I can't seem to reproduce this with preview0.2.6 and editor 2019.1.0b8. (We only support 2019.1+ now, right?)

[2019-03-28 23:15] JiaUnity commented on #371
Closing.

[2019-03-28 23:15] #371 closed, assigned to Rene-Damm

[2019-03-28 23:18] JiaUnity commented on #353
Verified fix on 2019.1.0b9 with Develop (af5d4c1)

[2019-03-28 23:18] #353 closed, assigned to nobody

[2019-03-28 23:19] JiaUnity commented on #354
Verified fix on 2019.1.0b9 with Develop (af5d4c1)

[2019-03-28 23:19] #354 closed, assigned to nobody

[2019-03-28 23:25] JiaUnity commented on #131
Verified fix on 2019.1.0b9 with Develop (af5d4c1)

[2019-03-28 23:25] #131 closed, assigned to nobody

[2019-03-29 04:23] gegagome commented on #131
Will the fix make it on 2018.3?
Or when will the fix be public in 2019.1?

Thanks!

[2019-03-29 04:41] gegagome commented on #131
I saw 2019.1.0b9 but not develop on the unity download website. Where do you download develop from?

Thanks

[2019-03-29 18:28] JiaUnity commented on #131
@gegagome Hey, you can install released package following the instruction here: https://github.com/Unity-Technologies/InputSystem/blob/develop/Packages/com.unity.inputsystem/Documentation~/Installation.md
Or you can just download the Develop branch: https://github.com/Unity-Technologies/InputSystem/tree/develop and copy the new input folder in the Packages folder to your project Packages folder.

[2019-03-30 00:03] JiaUnity commented on #368
This has been changed. No repro.

[2019-03-30 00:03] #368 closed, assigned to nobody

[2019-03-30 00:07] JiaUnity commented on #370
RunInBackground feature is removed. Closing.

[2019-03-30 00:07] #370 closed, assigned to nobody

[2019-04-02 00:06] ghost commented on #495
Well, as i did told you already, this don't work as the game calls are made trough the API directly and the upgrade do break, again i would need a guide on how to upgrade the code....

Anyway, sorry but need a quick solution, we are going to use InControl.

[2019-04-02 00:06] #495 closed, assigned to nobody

[2019-04-02 15:50] Rene-Damm commented on #469
Should be fixed on latest head.

[2019-04-02 15:50] #469 closed, assigned to nobody

[2019-04-02 16:22] Rene-Damm commented on #494
Should be fixed as part of #508. The DualShock stuff shouldn't have been in that PR but oh well, there it is :)

There were a couple problems here.

1) The DualShock sensor controls weren't been marked as noisy. Thus the rebinding stuff thought them good data and picked them up.
2) The DualShock sensors used to be defined all the way up at `DualShockGamepad`. Theoretically that makes sense but in

[2019-04-02 16:22] #494 closed, assigned to nobody

[2019-04-02 16:25] Rene-Damm commented on #500
Should be fixed in https://github.com/Unity-Technologies/InputSystem/pull/509.

[2019-04-02 16:25] #500 closed, assigned to nobody

[2019-04-02 16:35] Rene-Damm commented on #498
Ah yup, that could be refined. The reason is that the custom inspector for the `InputActionAssetReference` here (i.e. `MyMap`) simply reuses the property inspector for `InputActionAsset` underneath. That's where the text is coming from.

On latest head, we've redone part of how the whole setup works. Now, the generated class no longer represents a reference to the asset but rather *contains* the a

[2019-04-02 16:35] #498 closed, assigned to nobody

[2019-04-02 19:04] JiaUnity commented on #381
No repro for 19.1 or 19.2. Closing.

[2019-04-02 19:04] #381 closed, assigned to nobody

[2019-04-03 08:54] Rene-Damm commented on #30
I think the reference to #30 is erroneous. Not sure how that came to be. But the merge commit is unrelated to this issue. Pretty sure the issue is still in the code.

[2019-04-03 08:55] Rene-Damm commented on #362
Ok let's do that.

[2019-04-03 08:55] #362 closed, assigned to nobody

[2019-04-03 08:57] Rene-Damm commented on #366
Something *may* have landed in 2019.1 (or only 2019.2) that addresses this problem. I talked to the guys working on this some time ago and a solution was being worked on. Chances are it has happened by now. However, that solution required action on our side to make it work.

I think we shouldn't close this ticket until someone has gone in and verified that it indeed works with a public 2019.1 rele

[2019-04-03 14:34] Rene-Damm opened #512 "[Actions] Exceptions and errors in console when editing .inputactions while in play mode"
1. Open SimpleDemo
2. Go into play mode
3. Open SimpleControls.inputactions
4. Change the assignment of the W key to H
5. Save the asset
6. Focus the game view

There will be a long list of exceptions and errors in the console.

First reported by user here: https://forum.unity.com/threads/input-system-bugs.647611/#post-4344859

[2019-04-04 20:32] JiaUnity commented on #258
This issue doesn't happen for on 2019.1 with the latest Develop (d4c0de0)
As for other performance improvement is not specifically related to this bug.
Closing.

[2019-04-04 20:32] #258 closed, assigned to nobody

[2019-04-05 12:03] Rene-Damm commented on #472
Confirmed. Looking into it.

[2019-04-05 15:09] acidwarrior27 opened #517 "Enabling InputAction from non main thread (e.g. coroutine) breaks InputAction (0.2.1-preview)"
Version:
- 0.2.1-preview (via unity package manager).

In the main menu of my project i am switching different menu panels via an animation, e.g.:
`StartCoroutine(PanelAnimation(toLeft, true, _activePanel));`

In this animation **coroutine** i do at some point
`panel.SetActive(false) or panel.SetActive(true)`
which triggers my OnEnable/OnDisable methods where i do
[code]
...like in the tutorials.

[2019-04-05 22:12] JiaUnity commented on #145
This is by design.

[2019-04-05 22:12] #145 closed, assigned to nobody

[2019-04-05 22:14] JiaUnity commented on #253
This should be fixed
@iBicha Do you still have this issue with 0.2.6-preview?

[2019-04-05 22:42] #253 closed, assigned to Rene-Damm

[2019-04-05 23:47] JiaUnity commented on #366
This exact issue doesn't occur anymore. Other related issue has already been filed separately. Closing.

[2019-04-05 23:47] #366 closed, assigned to Rene-Damm

[2019-04-07 08:31] eblabs opened #518 "2019.1.0b10 Compatibilty / Demo Project"
Hi,

Im just getting started with using the new Input System. I cant seem to get any of the demo projects to work with 2019.1.0b10. So I just wanted to check if this version of Unity was in fact compatible with the latest preview version of the Input System.

I had import errors on "DemoControls.inputactions" and nothing seems to happen when in playmode. Not even buttons are responsive to mouse cl

[2019-04-07 18:29] VR-Architect opened #519 "Mouse button hold only fires once"
Using Input preview-0.2.6

My event handler for the mouse button hold is only firing once when clicked. Isn't the goal of hold to keep triggering the event handler until the mouse button is released?

[2019-04-07 18:32] VR-Architect opened #520 "Feature Request: Make the input control UI columns adjustable width"
The Action Maps column and Action column could be narrower so we have a bigger Properties column. Because we can't adjust the width, there is a horizontal scroll bar on the Properties column which is not an optimal user experience.

Thanks for the consideration.

[2019-04-07 18:53] VR-Architect opened #521 "Getting Interaction Behavior in Event"
How do we get the interaction behavior for a mouse button click event? I am able to see in Visual Studio while debugging the value of obj.interaction.behavior which is PressOnly or ReleaseOnly, etc.

However, VS2019 doesn't recognize the behavior command. For example:

private void MouseLeft_performed(InputAction.CallbackContext obj)
{
        var f = obj.interaction.behavior; // No definition
}

[2019-04-08 14:01] maxouhouh opened #522 "Error installation 0.2.6"
Hello,
Just want to share you a bug report on version of Unity 2019.1.0b5 on windows 10
I tried to install the version 0.2.6 and got this error, so I came back to 0.2.1 version for now and It work:

error cs0117: 'nativeinputsystem' does not contain a definition for 'onshouldrunupdate'

If you want me to test something let me now.

Best regards.
Max.

[2019-04-08 15:36] Rene-Damm commented on #472
Should be fixed by #523.

[2019-04-08 15:36] #472 closed, assigned to Rene-Damm

[2019-04-08 15:58] Rene-Damm commented on #522
Hi, the minimum requirement ATM is 2019.1b8.

Sorry that we're not handling this better ATM :/ The package manager shouldn't even allow installing the package when the min version isn't met. Sorry for the confusion.

[2019-04-08 15:58] #522 closed, assigned to nobody

[2019-04-08 16:01] Rene-Damm commented on #521
You would have to cast the interaction like so

[code]

Overall, the idea is that the callback shouldn't normally have to care. The actions are meant to act as an abstraction over the actual input with interactions describing the input patterns that lead to the action being triggered.

[2019-04-08 16:05] Rene-Damm commented on #520
Yup, agree that having draggable splitters would be great.

The horizontal scrollbar appearing on "Properties" is mostly a bug, though. At least when the bar appears after selecting a processor or interaction. The UI layout code for some reason gets the width wrong and thus makes the entire UI wider instead of sticking to the current width. Something to be fixed.

[2019-04-08 16:10] Rene-Damm commented on #519
Tick the "Continuous" checkbox to get this kind of behavior.

Think we need to improve the UI/wording/presentation here to make this clearer.

By default, actions react purely to input. So if there's no input, there's no actions. If you want actions to keep triggering even if there's no input, "Continuous" mode is meant to cover that.

You're talking about the "Hold" interaction, right? Probably a

[2019-04-08 16:18] Rene-Damm commented on #492
Confirmed. Looking into it. Thank you for the excellent repro.

[2019-04-09 10:06] Rene-Damm commented on #518
There shouldn't be import errors but the `Demo.unity` scene ATM isn't functional. Bit confusing ATM but in the repo, only `SimpleDemo` is expected to work. The full Demo is currently slow getting off the ground.

[2019-04-09 12:35] Rene-Damm commented on #492
Should be fixed in https://github.com/Unity-Technologies/InputSystem/pull/526.

Problem occurred only when there were multiple controls bound to the same action. The disambiguation code didn't work correctly when a control was actuated but the actuation was ignored by an interaction (in this case `PressInteraction` ignoring it because it would trigger only on release). When the actuation of the co

[2019-04-09 12:35] #492 closed, assigned to Rene-Damm

[2019-04-09 16:06] eblabs commented on #518
Thanks for the info @renedamm ! Ill give it another try and reply back...

[2019-04-09 22:05] JiaUnity commented on #467
Closing for it is tracked here: https://issuetracker.unity3d.com/issues/ui-using-detect-input-to-bind-to-an-action-sometimes-generates-an-error-about-leaked-memory

[2019-04-09 22:05] #467 closed, assigned to nobody

[2019-04-09 22:07] JiaUnity commented on #384
Closing for it is tracked: https://issuetracker.unity3d.com/issues/scripting-inputactionassetreference-fields-are-untyped

[2019-04-09 22:07] #384 closed, assigned to nobody

[2019-04-09 22:08] JiaUnity commented on #512
Closing. Tracked here: https://issuetracker.unity3d.com/issues/ui-actions-exceptions-and-errors-are-generated-constantly-if-an-input-action-asset-is-edited-and-saved-during-play-mode

[2019-04-09 22:08] #512 closed, assigned to nobody

[2019-04-09 22:21] JiaUnity commented on #25
Closing. For the issue is tracked: https://issuetracker.unity3d.com/issues/windows-keyboard-when-using-mac-magic-keyboard-equals-in-the-numpad-is-not-detected-at-all

[2019-04-09 22:21] #25 closed, assigned to nobody

[2019-04-09 22:23] JiaUnity commented on #489
Closing. It is tracked: https://issuetracker.unity3d.com/issues/ui-re-naming-action-map-after-starting-to-re-name-an-action-breaks-the-process

[2019-04-09 22:23] #489 closed, assigned to nobody

[2019-04-09 22:24] JiaUnity commented on #436
Closing. Tracked here: https://issuetracker.unity3d.com/issues/editor-input-action-does-not-disable-automatically-when-existing-play-mode

[2019-04-09 22:24] #436 closed, assigned to nobody

[2019-04-09 22:33] JiaUnity commented on #411
Closing. For it is filed in database.

[2019-04-09 22:33] #411 closed, assigned to nobody

[2019-04-09 22:33] JiaUnity commented on #332
Closing. For it is tracked: https://issuetracker.unity3d.com/issues/ui-the-binding-option-touch-touchscreen-does-not-work

[2019-04-09 22:33] #332 closed, assigned to nobody

[2019-04-09 22:34] JiaUnity commented on #409
Closing. Tracked here: https://issuetracker.unity3d.com/issues/linux-keyboard-dead-keys-are-not-reported-in-new-input-system

[2019-04-09 22:34] #409 closed, assigned to nobody

[2019-04-09 22:36] JiaUnity commented on #361
Closing. Tracked here: https://issuetracker.unity3d.com/issues/scripting-when-using-readvalue-with-a-mismatched-value-type-a-wrong-exception-is-thrown

[2019-04-09 22:36] #361 closed, assigned to Rene-Damm

[2019-04-09 22:36] JiaUnity commented on #372
Closing. Tracked here: https://issuetracker.unity3d.com/issues/windows-cursor-does-not-lock-or-hide-when-using-only-isx

[2019-04-09 22:36] #372 closed, assigned to nobody

[2019-04-09 22:37] JiaUnity commented on #272
Closing. Tracked here: https://issuetracker.unity3d.com/issues/android-keyboard-os-keyboard-layout-for-physical-keyboard-does-not-affect-keycontrol-dot-displayname

[2019-04-09 22:37] #272 closed, assigned to todi1856

[2019-04-09 22:39] JiaUnity commented on #269
Closing. Tracked here: https://issuetracker.unity3d.com/issues/ios-android-keyboard-keyboard-dot-current-dot-keyboardlayout-is-always-empty

[2019-04-09 22:39] #269 closed, assigned to nobody

[2019-04-09 22:58] JiaUnity commented on #265
Closing. Tracked here: https://issuetracker.unity3d.com/issues/ios-pen-phase-doesnt-go-past-began

[2019-04-09 22:58] #265 closed, assigned to nobody

[2019-04-09 22:59] JiaUnity commented on #243
Closing. Tracked here: https://issuetracker.unity3d.com/issues/performance-events-sometimes-takes-longer-to-reach-the-onupdate-code-from-the-inputmanager

[2019-04-09 22:59] #243 closed, assigned to Rene-Damm

[2019-04-09 23:06] JiaUnity commented on #217
Closing. Tracked here: https://issuetracker.unity3d.com/issues/xr-inputdebugger-does-not-update-consistently-to-reflect-movement-or-interaction

[2019-04-09 23:06] #217 closed, assigned to nobody

[2019-04-10 00:23] JiaUnity commented on #171
Closing. Tracked here: https://issuetracker.unity3d.com/issues/windows-touch-touch-dot-pressure-is-always-reported-as-0

[2019-04-10 00:23] #171 closed, assigned to nobody

[2019-04-10 00:24] JiaUnity commented on #188
Closing. Tracked here: https://issuetracker.unity3d.com/issues/windows-gamepad-dualshock-added-twice-if-ds4windows-slash-ds4tools-is-installed-and-xinput-support-enabled

[2019-04-10 00:24] #188 closed, assigned to nobody

[2019-04-10 00:25] JiaUnity commented on #170
Closing. Tracked here: https://issuetracker.unity3d.com/issues/windows-touch-a-new-touchid-isnt-assigned-to-stylus-input-after-the-ended-state

[2019-04-10 00:25] #170 closed, assigned to Rene-Damm

[2019-04-10 00:26] JiaUnity commented on #169
Closing. Tracked here: https://issuetracker.unity3d.com/issues/windows-touch-stylus-touch-dot-radius-values-are-0-or-very-exaggerated

[2019-04-10 00:26] #169 closed, assigned to Rene-Damm

[2019-04-10 00:26] JiaUnity commented on #168
Closing. Tracked here: https://issuetracker.unity3d.com/issues/windows-touch-stylus-touch-dot-type-input-is-detected-as-direct-instead-of-stylus

[2019-04-10 00:26] #168 closed, assigned to Rene-Damm

[2019-04-10 00:27] JiaUnity commented on #158
Closing. Tracked here: https://issuetracker.unity3d.com/issues/performance-too-much-time-spent-during-domain-reloads

[2019-04-10 00:27] #158 closed, assigned to nobody

[2019-04-10 00:28] JiaUnity commented on #141
Closing. Tracked here: https://issuetracker.unity3d.com/issues/editor-touch-touchcontrol-dot-pressure-is-not-initialized

[2019-04-10 00:28] #141 closed, assigned to nobody

[2019-04-10 00:29] JiaUnity commented on #383
Closing. Tracked here: https://issuetracker.unity3d.com/issues/ui-when-using-detect-input-to-bind-an-action-the-mouse-scroll-is-picked-up-automatically

[2019-04-10 00:29] #383 closed, assigned to nobody

[2019-04-10 00:56] VR-Architect commented on #519
Ahhh. I thought "hold" meant the user was holding the button down. If your reword the UI, might I also suggest something to indicate if continuous, how long to wait between each call back to the event? For example, x time the user has to hold down the button to trigger it and y time between each call to the handler?

BTW, I was trying to use the mouse hold to raise/lower the terrain in run time fo

[2019-04-10 00:59] VR-Architect commented on #521
Cool, I should have thought of that.

BTW, I was trying to do this as a temp hack around for the hold button issue
https://github.com/Unity-Technologies/InputSystem/issues/519

Now I know how to use the hold button, I will not be using this approach. However, you code snippet would be great for the docs when they come. Thanks again!

[2019-04-10 00:59] #521 closed, assigned to nobody

[2019-04-10 01:05] VR-Architect commented on #350
Thanks for the info. It was a big help.

[2019-04-10 01:05] #350 closed, assigned to nobody

[2019-04-10 04:30] eblabs commented on #518
https://www.youtube.com/watch?v=axekv9D3ID0

Hi,

I just made a quick video showing how I setup the Input System in a new Unity Project. I couldnt get it working and had several errors, but please let me know if Im missing anything!

Steps I took:
* create new project
* get latest Input System from the package manager
* copy in the Assets from the repo
* this is where I start to run into problems.

[2019-04-10 11:44] Rene-Damm commented on #518
You need to restart the editor for input to work. It mentions it in the dialog that popped up but it's hardly ideal. It should just force a restart automatically if you click "Okay". Something to improve.

As for the import errors, we'll have a look. Not sure what's happening there.

[2019-04-10 16:47] eblabs commented on #518
Thanks Rene-Damm.

I went back and tried restarting before importing the assets and then restarting again after. Unfortunately, the same error messages came up and I wasn't able to get anything to run.

I also deleted the Tests folder, that cleared up a few errors, but still had issues with the SimpleDemo scene.

Thanks for any more ideas!!

[2019-04-10 20:19] ManuelRauber opened #532 "Get simple "Face to Cursor" back to work"
Hi,

I've a simple Update function:

[code]

[code]

When using `Camera.ScreenToWorldPoint(Input.mousePosition)` the weapon will always face the cursor as expected.
When using `Camera.ScreenToWorldPoint(Mouse.current.position.ReadValue())` instead, the y-position is not correct.

Sample log entries:

<img width="472" alt="image" src="https://user-images.githubusercontent.com/740791/55910408-a6c052

[2019-04-10 20:26] Rene-Damm commented on #532
`Mouse.position` is expected to be equivalent to `Input.mousePosition`. So yup, that'd be a bug. What's the platform?

[2019-04-10 20:30] ManuelRauber commented on #532
Platform: macOS
Unity: 2019.1.0f1
Input System Package Version: 0.2.6

[2019-04-11 09:18] mrdev023 commented on #435
Same issue

[2019-04-11 17:53] JiaUnity commented on #432
Filed in FB. Closing.

[2019-04-11 17:53] #432 closed, assigned to nobody

[2019-04-11 17:54] JiaUnity commented on #441
Filed in FB. Closing.

[2019-04-11 17:54] #441 closed, assigned to nobody

[2019-04-11 18:00] JiaUnity commented on #460
No repro and no more information provided by user. Closing.

[2019-04-11 18:00] #460 closed, assigned to nobody

[2019-04-11 18:18] JiaUnity commented on #518
The 0.2.6-preview update breaks InputAction asset from previous versions sometimes.
One way to fix it is to find the SimpleControl.inputaction asset in the SimpleDemo folder. Open it with any text editing tool, like Notepad, then add an empty line at the very beginning of the file.
Then you can drag and drop the SimpleControl file into the script again.
Hope this helps.

[2019-04-11 18:56] JiaUnity commented on #172
@renaldasrep I don't see this bug repro with Touch.
Is this the case for Stylus only?

[2019-04-11 20:46] eblabs commented on #518
Thanks @JiaUnity, that was the trick, the demo asset imported successfully. I'll test it more thoroughly and reply back.
Thanks again!!

[2019-04-12 06:25] eblabs opened #535 "Generated C# Class in Wrong Folder"
Hi,

I'd like to report a bug, it looks like the auto generated C# class ends up being put in a duplicate nested folder. I didn't see a mention of this on the other issues. My apologies if its already been brought up!

Thanks!

Should be created in this folder:
/Assets/FREERIDE/Modules/Controls

Ends up being created in:
/Assets/Assets/FREERIDE/Modules/Controls

![image](https://user-images.github

[2019-04-12 19:38] MetaflameDragon opened #536 "Selecting one action highlights multiple others at the same time (and these are unselectable directly)"
Clicking on actions normally highlights only that button (obviously), but in certain cases it also highlights other (unrelated) actions below it.

![2019-04-12_21-10-09](https://user-images.githubusercontent.com/19003569/56060645-c3d45d00-5d67-11e9-8795-47d3068eb85e.png)
Selecting another item

![2019-04-12_21-10-14](https://user-images.githubusercontent.com/19003569/56060706-e5cddf80-5d67-11e9-84

[2019-04-12 20:17] douglas-piconi commented on #535
@Rene-Damm I did notice this in my testing as well.   I'll put in a fogbugz ticket.

[2019-04-12 20:19] eblabs commented on #535
Thanks!

[2019-04-12 20:25] douglas-piconi commented on #535
Moving bug to bug tracking system https://fogbugz.unity3d.com/f/cases/1145602/ for 2019.1 0.2.6-preview

[2019-04-12 20:25] #535 closed, assigned to nobody

[2019-04-12 20:26] douglas-piconi commented on #424
I was able to test an 8BitDo SN30.   This seems to work now.

[2019-04-12 21:47] JiaUnity commented on #4
Filed in FB.

[2019-04-12 21:47] #4 closed

[2019-04-12 21:49] JiaUnity commented on #30
Filed on FB. Closing.

[2019-04-12 21:49] #30 closed, assigned to nobody

[2019-04-12 21:59] JiaUnity commented on #172
Filed in FB. Closing.

[2019-04-12 21:59] #172 closed, assigned to JiaUnity

[2019-04-12 22:02] JiaUnity commented on #347
@gj52 Does this still happen on 0.2.6-preview? I don't see it on my end anymore.

[2019-04-12 22:50] JiaUnity commented on #377
This doesn't repro any more.
Closing.
![MousePosition](https://user-images.githubusercontent.com/33637761/56070019-a1781a80-5d3a-11e9-8975-1e75162943cb.gif)

[2019-04-12 22:50] #377 closed, assigned to Jura-Z

[2019-04-12 22:55] JiaUnity commented on #396
@kakysha The touch is still being actively worked on, and this issue may have been resolved or will be in the future.
However, without an repro project, it is very hard for us to determine the issue.
Please feel free to file this through the Bug Reporter in Editor, so you can attach a minimal repro project, and it can be properly verified by our QA.
Thanks.

[2019-04-12 22:55] #396 closed, assigned to nobody

[2019-04-12 22:58] JiaUnity commented on #412
Filed in FB. Closing.

[2019-04-12 22:58] #412 closed, assigned to nobody

[2019-04-12 22:58] JiaUnity commented on #424
Hooray!..... and closing.

[2019-04-12 22:58] #424 closed, assigned to nobody

[2019-04-12 23:07] JiaUnity commented on #473
Still no repro
@gotenxds does this happen if you bind to another key other than left shift?

[2019-04-12 23:31] JiaUnity commented on #517
I cannot repro this on my end.
@acidwarrior27 is this still the case for you on 0.2.6-preview?

[2019-04-13 00:08] JiaUnity commented on #477
Nevermind. This is a bug if it happens.
Problem is it doesn't happen on my end:
![Capture](https://user-images.githubusercontent.com/33637761/56071800-970f4e00-5d45-11e9-8330-7aaed910e2bb.JPG)
@covisa have you tried 0.2.6-preview or the latest Develop branch?

[2019-04-13 00:21] JiaUnity commented on #532
This issue happens mainly in Editor. The standalone build is not impacted for the most part, but if user switches between fullscreen and windowed mode, the X is different.

[2019-04-13 00:34] JiaUnity commented on #532
Filed: https://issuetracker.unity3d.com/product/unity/issues/guid/1145645/
Closing.

[2019-04-13 00:34] #532 closed, assigned to nobody

[2019-04-13 01:40] rsodre opened #537 "Device Request: MIDI Controllers"
MIDI is a simple protocol, used not only for music, but for any kind of interactive performance and underexplored in games.

As an example see [50 Best MIDI Controllers In The World Today](https://blog.landr.com/50-best-midi-controllers/).

[2019-04-13 08:30] gj52 commented on #347
0.2.6 works for me, no problems. Thanks.

[2019-04-13 09:05] danielheim opened #538 "Disabling action while button is pressed breaks functionality"
When disabling an action via a button press, the input is not functional after re-enabling. Even though the action is present in the Input Debugger.

I have attached a sample [MonoBehaviour](https://github.com/Unity-Technologies/InputSystem/files/3076004/TestEnableDisable.cs.zip), which demonstrates the issue while attempting to re-enable via the Update loop or via a Coroutine.

I have also been a

[2019-04-13 09:13] danielheim commented on #538
As a side-issue, I've also noticed that InputAction.CallbackContext control value is inaccessible after an action is disabled.

[code]

[2019-04-13 15:11] ManuelRauber opened #539 "MacOS always handles new and old input system, even if only new Input System is selected in player settings"
I've a game which uses the new input system. In Unity settings I switched the active input handling to the new system only:

<img width="429" alt="image" src="https://user-images.githubusercontent.com/740791/56081547-dc4b8280-5e0e-11e9-938f-120dc8649168.png">

By that, a `Input.mousePosition` should not work anymore. However, on macOS it still works as expected. But if you build the game for Windo

[2019-04-14 20:16] MetaflameDragon opened #540 "Causing an Interaction/Processor value to update closes the foldout"
Any input that would change a value in the settings of an Interaction/Processor immediately closes the foldout.

![2019-04-14_22-13-17](https://user-images.githubusercontent.com/19003569/56098634-86580700-5f02-11e9-93ff-0e47a65fc25e.gif)
Notice that writing anything that *wouldn't* change the value (like extra zeroes or a decimal dot) does not cause this.

This issue occurs on any change (includin

[2019-04-14 21:19] VR-Architect opened #541 "Errors if have an action map with no actions"
FYI, I put an action map with no actions in my Input Actions and got the errors below. You may consider a more user friendly error or not throw an error at all. You may ask, why put in an action map with no actions? Good question, it was a place holder to remind me later to add an action for vehicles. I removed the action map and the errors went away.

Running Unity 2019.2.11 with Input System 0.2

[2019-04-15 17:16] JiaUnity commented on #347
Good news!
Closing this bug.

[2019-04-15 17:16] #347 closed, assigned to nobody

[2019-04-15 19:49] StayTalm commented on #477
I Repro'd your issue, and found the underlying problem, a fix is incoming.

[2019-04-16 11:09] WaynGames opened #547 "[WindowsEditor] AZERTY inputs read as QWERTY inputs"
Hello,

I configure a simple move system with ZQSD but when in play mode when I press Q or Z nothing happens. I need to press A or W for it to work.

I printed a debug of the vector2 value and the last lastTriggerBinding and have this result when pressing A :
![image](https://user-images.githubusercontent.com/47318939/56204758-79453000-6048-11e9-8d2c-12d515041376.png)

And this when pressing W :
!

[2019-04-17 17:39] WaynGames commented on #547
issue seems known from https://www.youtube.com/watch?v=9gQxijRRLi8&feature=youtu.be.
I get the phisical key location but on my french keyboard when I search for 'a' it look for 'a' in the listing of key but binds it to 'q' if it make any sense.
Seems to be that the search is done base on the text output not the physical key location.

Would be great if the behaviour when configuring and playing wa

[2019-04-17 18:44] JiaUnity commented on #540
Known bug: https://issuetracker.unity3d.com/issues/ui-the-items-in-interactions-and-processors-keep-losing-focus-during-editing
Already fixed in the latest Develop branch. The fix should be in the next package release (0.3.0-preview).

[2019-04-17 18:44] #540 closed, assigned to nobody

[2019-04-17 19:32] WaynGames opened #552 "Exception : Current phase must be Started or Performed"
Working with "com.unity.inputsystem": "0.2.6-preview", and Unity 2019.1 on windows.

I configured my inputs like so

![image](https://user-images.githubusercontent.com/47318939/56315341-b9470880-6157-11e9-9902-b13965b32e35.png)

The aim is to have a cube moving on WASD.
Works fine, the cube move in the expected direction react to key combinasion on the run and stop when keys are released.

But one

[2019-04-17 21:23] DavidCodesDev opened #553 "Using a PS4 controller connected via bluetooth to a game on Android and playing in editor via Unity Remote doesn't work"
The gamepad.current gives a nullreference error, but whenever I build the game and play it on my android phone it works perfectly. I assume this is not intended/ a bug and is supposed to work with the unity remote too? (because it did with the old input manager)

[2019-04-18 01:37] YLlywelyn opened #554 "Cannot rename control scheme in Input Actions asset editor"
When editing an InputActions asset, whatever I type as the name for a new control scheme, it always has the name "New control scheme".  This happens when creating a new control scheme or editing an existing one.  Expected behaviour would be for the control scheme to be named what I named it (eg. "XInput" or "Keyboard").

[2019-04-18 12:51] Rene-Damm opened #555 "[Actions] Icons set by importer don't work on initial import"
The icons are that the importer sets on the root `InputActionAsset` and the contained `InputAction` objects are loaded through `EditorGUIUtility.Load` which, for things not coming from the editor asset bundle, falls back to querying the asset database. This won't work on the initial import as the .png icons will be importer *after* `.inputactions` files.

Repro:

1. Delete Library/ folder on Input

[2019-04-18 15:21] MetaflameDragon opened #556 "Disabling and re-enabling an action stops taking input from the keyboard"
I found that calling Disable() and Enable() on an action stops taking keyboard input for that action (other actions still work correctly).

For example, I have an action Inventory.Open hooked to E on the keyboard and a joystick button. When the player pauses the game, I call Inventory.Open.Disable(), which blocks the input completely. I then call Inventory.Open.Enable(), which should restore the A

[2019-04-19 00:56] JiaUnity commented on #536
Hey, @KuboS0S. This indeed has everything to do with duplicated id.
If you open the InputAction asset with any text editing software, like Notepad, you can see the 4 actions that are always selected together share exactly the same id.
I'm not quite sure how this happened at the first place, but it seems at this point, the only way around this would be create brand new ones to replace them.
Thanks

[2019-04-19 01:04] JiaUnity commented on #541
Having empty map in Input Action UI doesn't generate error message.
Doesn't repro with 2019.1.0f2 or 2019.2.0a13.

[2019-04-19 01:19] JiaUnity commented on #538
I have strong suspicion this is a regress for this: https://issuetracker.unity3d.com/issues/scripting-input-action-loses-callback-functions-after-re-enabled

[2019-04-19 01:31] JiaUnity commented on #538
This is indeed a regressed bug. Re-open. Feel free to vote at: https://issuetracker.unity3d.com/issues/scripting-input-action-loses-callback-functions-after-re-enabled

[2019-04-19 03:37] Methedox opened #557 "[0.2.6-Preview]Hold Interactions not working as expected?"
Currently, I have an Action of type Button, with a Binding on the 'r' key. The binding have an interaction "Hold" with a Hold time of 2.

I added a debug log on each callback (started, performed, canceled) as their respective names. When I press 'r', I receive both callback started and performed regardless of how many time is set in Hold time.

I found this post from Rene-Damm in January stating:

[2019-04-19 12:44] danielheim commented on #538
Thanks for your review. I have voted.

[2019-04-19 17:12] WaynGames commented on #552
duiplicate of #493

[2019-04-19 17:12] #552 closed, assigned to nobody

[2019-04-19 17:20] WaynGames commented on #493
Hello, if it is by design, I think it should also triger when another key is pressed.
For mouvement wqsd if I press "d" I i get a Vector2 (1,0)
If I release I get a (0,0),
so far so good.
But I can never get a (0.7,0.7) I always presse one key first and the the other one does not trigger anything.
If it's the "Pass Through" intended purpose, it does not work.

[2019-04-19 17:21] #547 closed, assigned to nobody

[2019-04-19 22:16] JiaUnity commented on #538
Never mind. This issue is not the same as the one I listed above.
It is hard to tell what stops the Action from re-enabling, considering one is via coroutine and the other just a count down in Update, so it is not the same as #517.
I file a new one for this. Feel free to vote here: https://issuetracker.unity3d.com/product/unity/issues/guid/1147560/

[2019-04-19 22:16] #538 closed, assigned to nobody

[2019-04-19 22:53] JiaUnity commented on #430
I notice when I test with both input systems enabled, the old one never shows input when Game view is out of focus during Play mode. I think the new one should be the same.
I also think it is a reasonable design. If a customer wants to make adjustment in the Scene, having input pass into the Game may interrupt the view.
I'm closing this as By Design. If there is any corner case should be exempted,

[2019-04-19 22:53] #430 closed, assigned to nobody

[2019-04-19 22:55] JiaUnity commented on #376
I dont think this is the case for Develop (6b839c6) on 2019.1. Closing.

[2019-04-19 22:55] #376 closed, assigned to nobody

[2019-04-19 22:56] JiaUnity commented on #473
No repro. Closing.

[2019-04-19 22:56] #473 closed, assigned to nobody

[2019-04-19 23:22] JiaUnity commented on #555
@Rene-Damm Can you take a screenshot of the error?
I don't encounter any persistent error msg after deleting the Library folder.

[2019-04-19 23:27] JiaUnity commented on #517
@acidwarrior27 if this is still an issue, can you upload the C# scripts related to the error? Thanks!

[2019-04-19 23:52] JiaUnity commented on #539
Feel free to vote at: https://issuetracker.unity3d.com/product/unity/issues/guid/1147574/
Filed and closing.

[2019-04-19 23:52] #539 closed, assigned to nobody

[2019-04-19 23:57] JiaUnity commented on #553
Unfortunately, this is a known bug that DualShock controller, when connected via bluetooth, doesn't work on Desktops, including Windows, OSX and Linux.
The only way around is to connect the DualShock controller with cable. But we'll address this issue for sure.

[2019-04-20 00:06] JiaUnity commented on #555
![Error](https://user-images.githubusercontent.com/33637761/56448619-64c19b80-62c5-11e9-8276-e471c7e52e80.JPG)
Is this the error msg?

[2019-04-20 00:16] JiaUnity commented on #554
Not the case for me.
![RenameAction](https://user-images.githubusercontent.com/33637761/56448735-b9194b00-62c6-11e9-8259-aa3d72be861e.gif)
@JMSams What's the ISX package version and Unity version?

[2019-04-20 00:20] JiaUnity commented on #556
I'm 98% certain this is the same bug as #538.
Feel free to add your vote here: https://issuetracker.unity3d.com/issues/scripting-input-action-fails-to-re-enable-after-disabled, so our dev can prioritize bug fixing.
Thanks!

[2019-04-20 08:20] YLlywelyn commented on #554
I can rename actions fine, it's when I try to name my control schemes I have issues.

Unity 2019.1.0f
Input system 0.2.6

[2019-04-20 23:26] danielheim commented on #538
Thanks again.

[2019-04-22 10:11] Rene-Damm commented on #555
@JiaUnity Yup, that's the error message. My guess is that it comes from the failed access to icons that don't yet exist.

If you hit "Reimport" on an .inputactions asset after the initial import, everything will be fine. The correct icons will appear on the assets and no errors will show up in the log.

[2019-04-22 10:12] Rene-Damm commented on #518
I'm pretty sure the root of the problem causing the errors here is #555. The fact that editing the file fixes the problem is that it triggers a reimport. Manually triggering a reimport from inside Unity using the right-click menu should similarly do the trick.

[2019-04-23 13:05] Rene-Damm commented on #554
This is a bug that has since been fixed on the `develop` branch. The problem is with focus. The renaming actually works but ONLY if you hit enter :) We were using a text field that only resulted in a change when you pressed enter OR focus moved away from the text field. For some reason I never quite pinpointed, the latter never worked. So you HAD to press enter or nothing happened.

On latest `dev

[2019-04-23 13:06] #554 closed, assigned to nobody

[2019-04-23 13:21] YLlywelyn commented on #554
kl, thanks :)

[2019-04-23 19:06] Xyzyx101 opened #560 "Baby anim idle_crying_side is looping and should not be"

[2019-04-23 19:16] Xyzyx101 opened #561 "Look out the treehouse window is broken"

[2019-04-23 19:20] #560 closed, assigned to nobody

[2019-04-23 19:20] #561 closed, assigned to nobody

[2019-04-24 13:31] Rene-Damm commented on #536
@KuboS0S Do you happen to remember how you created the actions? (e.g. "Duplicate" from context menu and then renamed/edited) It seems there's some path in the code where we don't properly assign new IDs to actions and thus end up with several actions having the same GUID.

[2019-04-24 17:27] MetaflameDragon commented on #536
@Rene-Damm I took a look at my Git history, and what was weird about it was that these duplicate GUIDs have shown up *later* than when the actions were added. In the initial commit (when I added the .inputactions to my Git rep), the GUIDs were fine and unique, but in the next commit where I set the expected control layout (Button), the GUIDs on these four have also changed.

This was also done in

[2019-04-25 03:46] danielheim commented on #538
I have noticed that my sample code functions correctly with the latest codebase from the develop branch, i.e. commit [d6d3d3285ea0d6f3690aa8f3f5b8ed2b64ec2a35](https://github.com/Unity-Technologies/InputSystem/commit/d6d3d3285ea0d6f3690aa8f3f5b8ed2b64ec2a35).
(N.B. this issue is still present in the stable 0.2.8-preview)

However, if I add an interaction to the action constructor, e.g.
[code]
or
[

[2019-04-25 15:16] acidwarrior27 commented on #517
I updated to:
- Unity 2019.1.0f2 (official)
- InputSystem 0.2.8 preview

and everything seems fine now!

[2019-04-25 15:19] Rene-Damm commented on #517
Note that the input system API follows the same model as other APIs in `UnityEngine`, only methods explicitly marked as `[ThreadSafe]` are safe to be called from a thread other than the main thread.

In the context of the new DOTS/ECS stuff, there will be new APIs that break with this model.

[2019-04-25 21:17] JiaUnity commented on #556
Closing for this bug is filed.

[2019-04-25 21:17] #556 closed, assigned to nobody

[2019-04-27 08:48] ghost opened #567 "[0.2.8-preview] Can't get Mouse position with Press Interaction"
Hello !

I've setup a simple scheme, with a "Sign" action, bind on "position [Mouse]". I've set the interaction to Press.

![2019-04-27 10_37_30-Unity 2019 1 0f2 Personal -  PREVIEW PACKAGES IN USE  - SampleScene unity - Inpu](https://user-images.githubusercontent.com/12472504/56847220-9d223480-68d8-11e9-89da-8d3c907fcc84.png)

But the event is only trigger once the game view get the focus, when I

[2019-04-27 10:43] GoncaloRod opened #568 "Can't interact with UI elements"
When I enable input system I can no longer interact with UI elements. Is it not implement yet or am I missing some configuration?

[2019-04-29 14:11] Rene-Damm commented on #568
We're currently working on UI support. An initial version is already in the package in the form of `UIActionInputModule` (meant to replace `StandaloneInputModule`) but it requires a bit of manual setup. We'll have a simpler setup procedure soon.

[2019-04-30 12:50] mrdev023 opened #572 "[0.2.8-preview] [Regression ?!] Production build crash as startup"
Unity tested :
   - Unity 2019.2.0a14
   - Unity 2019.2.0a13
   - Unity 2019.2.0a11
   - Unity 2019.2.0a9

Input System tested :
   - 0.2.8-preview
   - 0.2.6-preview

**Production build it work with InputSystem 0.2.1-preview and Unity 2019.2.0a9.**

Error Log On Dev build

A scripted object (probably UnityEngine.Experimental.Input.InputSettings?) has a different serialization layout when loading.

[2019-04-30 15:08] mrdev023 commented on #572
Crash also with empty project

[2019-04-30 19:42] periodyctom commented on #493
The problem I experienced is I'm getting 2 "Performed" events, there is no way to tell when the action begins or ends. If it produced Started -> Performed or Performed -> Canceled then I can disambiguate.

[2019-05-01 22:41] mstevenson opened #576 "CallbackContext.duration is computed incorrectly in the editor"
The `CallbackContext` object passed to an `InputAction.performed` event handler includes an incorrect `duration` value. It appears that `CallbackContext.startTime` is approximately equal to `Time.time`, however `CallbackContext.time` is precisely equal to `EditorApplication.timeSinceStartup`.

Thus the `duration` value is computed as the time since the editor was launched minus the time since play

[2019-05-01 22:51] mstevenson commented on #557
This may be related to issue #576. I've noticed that a context's `duration` continues to accumulate in the editor, even after exiting play mode. I suspect that the "hold" interaction watches this value to determine when time has elapsed, but the duration starts with an arbitrary positive offset.

[2019-05-02 04:14] perrauo opened #577 "Simulate Gamepad/LeftStick using a Vector2 composite (WASD)?"
Currently my composite strictly results in value 0, 1 with no in between. I want to the value to lerp from 0 to one 1 shortly after the WASD keys are pressed.

![image](https://user-images.githubusercontent.com/24371247/57056225-00acb900-6c6f-11e9-8cec-796b4161c597.png)

What I have currently with WASD
![image](https://user-images.githubusercontent.com/24371247/57056247-21750e80-6c6f-11e9-8eef-b33

[2019-05-02 09:39] s-ol opened #578 "When / Where to Register Custom Input Processors"
How should Custom Input Processors be registered in order to show up in the Input Actions UI as well as be present at load time, especially when the 'Generate C#' option is being used?

It seems that [`InputSystem.RegisterControlProcessor`](https://github.com/Unity-Technologies/InputSystem/blob/642b85ca5ad26540edb767d703a70268c1eda003/Packages/com.unity.inputsystem/InputSystem/InputSystem.cs#L407)

[2019-05-02 11:28] kartikey0303 commented on #568
@GoncaloRod I tried using the both option in Player Input Settings. After restarting the editor the UI Buttons did work and even the `OnScreenButton` script worked. I think this is a viable work around for the mean time.

[2019-05-03 01:06] #541 closed, assigned to nobody

[2019-05-03 01:06] #553 closed, assigned to nobody

[2019-05-03 15:05] perrauo opened #584 "Input system reads my nine as a 8"
WIth the latest release of the package (0.2.1-preview), the [Keyboard] 9 reads my 9 as a 8. Can someone please confirm? Thanks

![image](https://user-images.githubusercontent.com/24371247/57146320-0dc2c880-6d93-11e9-949e-1bc948c09b34.png)

![image](https://user-images.githubusercontent.com/24371247/57146382-3054e180-6d93-11e9-854a-8c1701f9efc2.png)

[2019-05-04 02:13] colin-young opened #585 "[0.2.8-preview] Events list keeps growing each time I open it"
Unity 2019.1.0f2, OS X (also seeing same with 2019.2.0a14)

Reproduction:

1. Open new project, add preview input system, set active input handling to Input System (Preview).
2. Add player input component to Main Camera
3. Select "Create Actions" and set behavior to "Invoke Unity Events"
4. Expand Events and note there is one event for each of the Actions in the Input Actions
5. Select another gam

[2019-05-04 12:10] Rene-Damm commented on #585
Yup, indeed buggy. Thanks for reporting. Fixed in https://github.com/Unity-Technologies/InputSystem/commit/3d02ada09f1257f6a56897e09aa30fa0e17abbbf.

[2019-05-04 12:10] #585 closed, assigned to nobody

[2019-05-04 14:57] kartikey0303 opened #586 "Input System works with UI not with hardware keyboard"
Using 0.2.8 preview using Unity 2019.1.0f2.
[code]
This is my code. So on playing the game the Keyboard input doesn't work. I also have on-screen controls to which I have added OnScreenButton script to trigger the right arrow key.
So when I run the game the keyboard does not work but surprisingly the On Screen Buttons work and print the debug message.
I have changed Input Handling to both. On swit

[2019-05-04 20:54] BjarkeCK opened #587 "Simple and easy to use API."
I realize that this is not done yet :) But I did find everything quite frustrating. I tried the input system today and after two or three hours without getting a single thing to work, I gave up.

I wish there where an easy way of just getting a list of all input devices, and from there go thought the API and map everything myself. Just give me the data! Without requiring me to use components, scri

[2019-05-05 13:14] Rene-Damm commented on #587
There is zero-setup API. See [here](https://github.com/Unity-Technologies/InputSystem/blob/develop/Packages/com.unity.inputsystem/Documentation~/QuickStartGuide.md#getting-input-directly-from-an-input-device).

[code]

But without specifics it is hard to know what exactly you're after.

[2019-05-05 14:35] Racot007 opened #588 "Input system and XR dependency"
Unity 2019.1.1.f1
I removed "com.unity.modules.xr": "1.0.0" and "com.unity.xr.legacyinputhelpers": "2.0.2" from [ProjectPath]/Packages/Manifest.json and have some errors from input system package (see attached files below)

![InputSystemDepe](https://user-images.githubusercontent.com/6072592/57195496-013d9c00-6f5c-11e9-90cb-9082d17540bd.png)
![InputSystemXRDependency](https://user-images.githubuse

[2019-05-06 15:57] Rene-Damm commented on #588
@mattdatwork This should be fixed by #574, right?

[2019-05-06 15:59] Rene-Damm commented on #578
Recommended to use `InitializeOnLoad` (editor) and `RuntimeInitializeOnLoadMethod` for these registrations.

[2019-05-06 16:01] Rene-Damm commented on #577
Unfortunately, we don't have support for "gravity" yet. It's on the list but likely won't make it for 1.0.

[2019-05-06 18:12] mattdatwork commented on #588
yep!

[2019-05-07 10:30] Rene-Damm commented on #588
Should be fixed on latest head.

[2019-05-07 10:30] #588 closed, assigned to nobody

[2019-05-07 13:47] renaldasrep opened #593 "[Editor] Interactions are resetting when set using InputAction Inspector"
Interactions are resetting when set using Inspector of `InputAction`, works fine when set using `InputActionAsset`

Example:
![ezgif-1-1d09c84ba681](https://user-images.githubusercontent.com/39190411/57304233-a2a52900-70e7-11e9-8d77-cab01b0fb4cd.gif)

Found using:

Package 3a3988db (develop)

Version 2019.3.0a3 (e289e67be1a5)
Sun, 05 May 2019 08:44:27 GMT
Branch: trunk

[2019-05-07 14:20] #578 closed, assigned to nobody

[2019-05-07 19:45] SKroell opened #594 "[0.2.8-preview] Build queues input while not in focus."
We got multiple game events that is triggered by the user pressing a specific key. Currently we got RunInBackground disabled in the Player settings hoping that the game won't react to input while not in focus, but this doesn't seem to be the case.

Using the simple code below, we got a TestAction thats setup to trigger when pressing the 'A' key on the keyboard (press-only). If you alt-tab out of t

[2019-05-08 03:00] perrauo commented on #577
Thanks, I understand

[2019-05-09 01:20] JiaUnity commented on #555
Filed in Fogbugz: https://issuetracker.unity3d.com/product/unity/issues/guid/1152967/
Closing

[2019-05-09 01:20] #555 closed, assigned to nobody

[2019-05-09 03:29] JiaUnity commented on #557
Filed: https://issuetracker.unity3d.com/product/unity/issues/guid/1152989/
Like @mstevenson said, this may have something to do with the `startTime` and `duration` value. But file separately just in case.
Closing.

[2019-05-09 03:29] #557 closed, assigned to nobody

[2019-05-09 03:34] #577 closed, assigned to nobody

[2019-05-09 03:38] JiaUnity commented on #584
This is a known bug fixed in later version.
Please update your Input System package to the latest version (0.2.8-preview)

[2019-05-09 03:38] #584 closed, assigned to nobody

[2019-05-09 03:49] JiaUnity commented on #586
@kartikey0303 UI is not support by Input System yet.
Without seeing the project, it is very difficult to tell what the issue is. I couldn't repro this on my end. Please feel free to use the Bug Reporter in Editor, so a minimal repro project can be attached. Thanks.

[2019-05-09 04:18] JiaUnity commented on #593
Filed: https://issuetracker.unity3d.com/product/unity/issues/guid/1152997/
Feel free to vote on the issue.
Closing.

[2019-05-09 04:18] #593 closed, assigned to nobody

[2019-05-09 04:21] JiaUnity commented on #594
Not sure if the Run In Background is working yet.
@Rene-Damm Could you answer this question?

[2019-05-09 07:44] mrdev023 commented on #572
UP

[2019-05-09 20:49] JiaUnity commented on #435
The right click menu works for me on Ubuntu 18.04 with 0.2.8-preview.
This probably not an issue anymore.

[2019-05-09 21:44] JiaUnity commented on #477
This is fix in the latest Develop (01d708f). Closing.

[2019-05-09 21:44] #477 closed, assigned to StayTalm

[2019-05-09 21:49] #517 closed, assigned to nobody

[2019-05-10 22:40] JiaUnity commented on #594
Bug filed: https://issuetracker.unity3d.com/product/unity/issues/guid/1153515/
Feel free to vote on the issue.
Closing.

[2019-05-10 22:40] #594 closed, assigned to nobody

[2019-05-12 00:05] IronWarrior opened #605 "InvalidOperationException: Handle is not allocated"
When running my project, often after I stop running I will get the following error:

![image](https://user-images.githubusercontent.com/12469377/57576126-e365b080-740d-11e9-9e27-de561337332a.png)

With the following stack trace:

![image](https://user-images.githubusercontent.com/12469377/57576128-ecef1880-740d-11e9-9647-c706ecb7ff06.png)

Which points to the following block of code:

[code]

With

[2019-05-12 06:04] IronWarrior commented on #605
An update: started deleting everything one by one and was able to narrow down the cause. The exception is thrown whenever you have more than one instance of an `IInputActionCollection` instantiated _and_ enabled.

Below is a very minimal project that reproduces the bug locally in 2019.1.2f1. I am running Windows 10. The exceptions I have in the image in my initial post get thrown roughly three qua

[2019-05-12 19:31] kartikey0303 commented on #586
@JiaUnity Can you clone this repository [Repo](https://github.com/akashenen/2d-platformer-controller) and make changes to [PlayerController](https://github.com/akashenen/2d-platformer-controller/blob/master/Assets/Scripts/PlayerController.cs) for 0.2.8 Input System. I am using this repo as the base for my game. Can you check if the Keyboard works then?

[2019-05-13 00:23] IronWarrior commented on #605
As a temporary fix, I use a singleton MonoBehaviour to manage a single instance of my InputActions that other classes retrieve at runtime. Using a MonoBehaviour (rather than a non-MB singleton) allows it to be destroyed at end of scene, clearing all of the events in it.

[2019-05-13 09:01] berMip opened #607 "'STAT' input event for device 'Mouse:/Mouse' is outdated"
Very seldom I get the issue that the mouse events are not triggered anymore. When I enable event diagnostics in the Input Debugger the console log is spammed with the following errors:

'STAT' input event for device 'Mouse:/Mouse' is outdated (event time: -4294739.47191704, device time: -1140.46916687573)
UnityEngine.Experimental.Input.LowLevel.<>c__DisplayClass6_0:<set_onUpdate>b__0(NativeInputUp

[2019-05-13 16:19] FRazor95 commented on #586
I can confirm a similar problem. Using any 2019 version of Unity no hardware input at all is received by the InputSystem. I tried with direct input, as well as input actions and input asset.
On my brother's PC with the exact same setup and packages my code works as expected.

Because the documentation is not complete I am not 100% sure if I configured everything right, but as my brother and me are

[2019-05-14 08:20] mrdev023 opened #609 "Keyboard.current.keyboardLayout Always return us"
I'm try to switch keyboard layout from us to fr and from fr to us but Keyboard.current.keyboardLayout always return us.

with command on below:
```setxkbmap -query | grep layout```

On French keyboard i get : ```layout: fr,us```
On English (US) keyboard i get : ```layout: us```

EDIT:

Windows and Mac OS X same problem

[2019-05-14 08:25] fabiopicchi opened #610 "Polling API"
I need to read an input after physics has been processed (need to know if the character is grounded) and with the current event based API this quickly becomes a hassle.

I have to listen to the "performed" events that happen either before FixedUpdate or Update (depending on your configurations) and store in a boolean whether or not an event happened during a certain frame to later use that variabl

[2019-05-15 00:20] JiaUnity commented on #586
@kartikey0303 I tried your project, no issue on my end with 0.2.8-preview. Both keyboard and xbox controller work at the same time.
Also, for your InputMaster asset, if you set the Movement type to Vector2 instead of Axis, you can bind controller stick directly instead of using the 2D Vector Composite binding.
![InputMaster](https://user-images.githubusercontent.com/33637761/57740391-83b91080-766c

[2019-05-15 00:27] JiaUnity commented on #586
@FRazor95 It is very difficult to tell what the issue is. What kind keyboard and mouse do you have? It could be the keyboard is considered as a HID instead of full keyboard, but I'm not sure at all.
You can open the Input Debugger window by go to Window -> Analysis -> Input Debugger. It has all the devices listed and, once in Play mode, all the Input Actions as well. This only works for ISX, not t

[2019-05-15 09:24] FRazor95 commented on #586
@JiaUnity Thanks for your reply! I will check this later and give you feedback.

As I think this is rather not a bug in the InputSystem but an issue local to my computer, is it ok to discuss this here or should I move to the forums instead?

[2019-05-15 10:31] berMip commented on #607
We encountered the issue again. This time our QA had the issue in a build and a restart did not fix it initially. It was fixed after we had opened it in unity and did a restart afterwards.

I've checked the InputManager.cs code and there is a break in the OnUpdate when this issue happens (around line 2537). What would be the expected outcome if the break would be removed? Would this difference in

[2019-05-15 15:27] SKroell commented on #586
Currently having the same issue as @FRazor95 but on multiple computers. I’ve checked in with my testers and out of 20 that has tested my game since updating to unity 2019 and input system 0.2.8, 4 of them has no hardware input at all where it works fine for the remaining 16.

Not sure a minimal project can be made since it seems to be hardware dependent. Is there a way to output the relevant devic

[2019-05-15 17:37] FRazor95 commented on #586
@JiaUnity I just observed inputs with the Input Debugger. What I was able to find is that there are 2 devices under the devices tab, name "Keyboard" and "Mouse", if I inspect these, inputs are triggered as I click and type but looking at the details, the values seem incorrect (on left click, value of leftButton is 0). But there are also 8 devices under the "Unsupported" tab, including my mouse (it

[2019-05-16 17:52] FRazor95 commented on #586
@JiaUnity @SKroell @kartikey0303 I just found the solution to the problem occuring on my pc. I went to the device manager and under input devices there were "Logitech Gaming Virtual Keyboard" and "Logitech Gaming Virtual Mouse". I actually do not know how these two came to my computer but I can imagine they were installed alongside my Logitech Headset drivers.

I would suggest you also check your

[2019-05-17 08:27] kartikey0303 commented on #586
@FRazor95 @JiaUnity I can confirm that my keyboard is being shown thrice in Unsupported Devices list in Input Debugger. There is also a separate Keyboard Input too which does reflect the keys that I press as shown in the video that I linked in the first post. Although I do not have any Virtual devices in the device manager. I am not sure what to uninstall to get the input working. @FRazor95 For yo

[2019-05-17 23:49] SKroell commented on #586
Its not 'Virtual Keyboards' or similar that's causing the issue for me either. Switching keyboards does nothing as well. @kartikey0303 If you ever find a way to get it working on the computer where its currently not working, let me know how you fixed it.

@JiaUnity I can confirm that the issue still exists on 0.2.10-preview.

[2019-05-18 16:00] BjarkeCK commented on #587
Thanks!

I tried tho, but it didn't list any devices at all, so thought I was missing some sort of setup. Bought rewired and it listed all devices correctly.

[2019-05-19 10:15] IsaacInsoll opened #624 "UI Left doesn't work with xbox controller"
Running Unity 2019.1.3 and PlayerInput 2.10-preview
Primary development environment: 2013 Mac Pro + Xbox One Controller (USB)
"Intermediate" Development Environment: Base model Surface pro (2017) + Xbox One Controller (USB)
Testing Machine: Xbox One S with Elite Controller connected wirelessly.
---
WHAT WORKS:
All in-game controls work correctly (IE: left joystick and all buttons operate character

[2019-05-19 21:02] JOrbits opened #625 "Only able to use a maximum of four XBox controllers at once"
Hi,

I'm using Unity 2019.1.0f2 and Input Sytem 0.2.10. I tried connecting 5 XBox controllers and a maximum of 4 get detected within Unity, but I was able to use 4 XBox controllers and one PS4 controller successfully. I suspect it's a limitation of XInput, is there a workaround?

[2019-05-20 06:47] IsaacInsoll commented on #624
It also appears that 'down' doesn't work on windows/xbox when navigating UI, only 'up' and 'right' work. All work on mac and in game.

[2019-05-20 21:27] H3idi-X opened #629 "Querying pencil position in editor window doesn't work correctly."
When we call Pen.current.position.ReadValue() in Editor Window, it returns relative position from GameView. It should return the position relative to the Editor Window.

The attached is the screenshot of the issue. I pointed the red dot position with a pencil.
![image](https://user-images.githubusercontent.com/4477357/58052734-93ff4d00-7b90-11e9-8c3f-06c551ba2c55.png)

The following is a test code

[2019-05-20 21:34] H3idi-X opened #630 "Querying mouse position in Editor Window causes corruption of GameView."
When we call Mouse.current.position.ReadValue() in Editor Window, it causes GameView screen curruption. The attached is the screenshot of the issue.
![image](https://user-images.githubusercontent.com/4477357/58053215-d4ab9600-7b91-11e9-8054-b3dcf5c01799.png)

The following is a test code.
https://oc.unity3d.com/index.php/s/sNJPJXIl5KwL9zV

[2019-05-21 06:58] mrdev023 commented on #572
Fixed on Unity 2019.2.0b2 and InputSystem 0.2.10-preview

[2019-05-21 09:37] XelfXendr opened #632 "2D Vector Composite doesn't perform on every button press"
I need a 2d vector composite bound to arrow keys that performs every time a button is pressed without caring about button releases. I thought that'd be easily achieved by giving each of the 4 button bindings a Press Only interaction but that led to unusual behaviour.
Example:
- Pressing and holding the up arrow key activates .performed, and then pressing the left arrow key while still holding the

[2019-05-22 04:27] interior-night commented on #253
@JiaUnity I have the same issue on my mac using 0.2.10 and Unity 2019.1.3f0.

[2019-05-22 14:17] s-ol opened #637 "'continuous' actions fire at different rates"
For example in a setup for Gamepad or Mouse and Keyboard I have

- action 'move' (continuous):
  - keyboard composite WASD
  - gamepad left stick
- action 'look' (continuous):
  - mouse delta (normalized)
  - gamepad right stick

the problem is that using keyboard and mouse, 'look' is performed far more frequently than 'move' when both of them are used. This means that when both move/look are used

[2019-05-22 14:26] s-ol commented on #637
I would have expected 'continuous' actions to fire at a fixed rate, like once per frame. The only solution in user code that I can see right now is to store the last move vectors in member variables and do the actual input handling in one of the `Update()`s.

[2019-05-22 20:25] Rallix commented on #493
Exactly – "Press and Release" used to send different events during the _Press_ and _Release_ stage. Now it doesn't; so unless you keep track of the 'pressed' status of your buttons by yourself, you can't tell the stages apart.

[2019-05-22 23:50] JiaUnity commented on #493
This is fixed in the latest package release 0.3.0-preview. Closing

@periodyctom @tomas-jezek if you want to differentiate the press and release, "Press" interactions is not the right choice. I suggest using Tap or Slow Tap, which generates both Started and Performed.

[2019-05-22 23:50] #493 closed, assigned to nobody

[2019-05-23 00:14] JiaUnity commented on #605
Filed: https://issuetracker.unity3d.com/product/unity/issues/guid/1156869/
Closing.

[2019-05-23 00:14] #605 closed, assigned to nobody

[2019-05-23 00:36] JiaUnity commented on #610
You might have better luck to ask questions in the forum: https://forum.unity.com/forums/new-input-system.103/

[2019-05-23 00:38] JiaUnity commented on #624
I'm not certain UI is fully supported yet.
@Rene-Damm could you confirm if this is correct?

[2019-05-23 14:15] Rene-Damm commented on #607
Indeed, seeing the same. Not sure yet whether it's a native change or a managed change that is causing this. Looking into it.

[2019-05-23 14:25] Rene-Damm commented on #609
Hmm, can't reproduce on Windows or Mac. Any more details you can provide about your setup? Is this in the editor or in the player or both?

[2019-05-23 14:26] Rene-Damm commented on #624
I believe this part of the UI functionality is expected to work in 0.2.10. @jechter?

[2019-05-23 14:31] Rene-Damm commented on #625
This is an unfortunate limitation of XInput. It has a cap on four controllers [hardcoded into the API](https://docs.microsoft.com/en-us/windows/desktop/api/xinput/nf-xinput-xinputgetstate). The PS4 controller is picked up with a different API (HID) which doesn't have the limitation.

Hopefully, in the not too distant future we can unify parts of our implementation between UWP and classic Win32 and

[2019-05-23 15:26] mrdev023 opened #643 "[WEBGL] When press on altgr, it detect left ctrl and altgr pressed"
When i pressed on altgr key on webgl.
Application detect that i press on left control and on altgr key

[2019-05-23 15:37] mrdev023 opened #644 "[TOUCH][RANDOM] released touch, the touch is always press"
When i touch screen with multi finger and i release. Randomly, application keep finger pressed. But when i touch screen, this finger is released and when i released again, The finger is press again.

[2019-05-23 18:34] JiaUnity commented on #609
@mrdev023 Would you be able to provide a minimal repro project? That would help us to see the issue better. Thanks!

[2019-05-23 18:38] JiaUnity commented on #607
@berMip is there any chance you provide a minimal repro project? Thanks!

[2019-05-23 19:58] JiaUnity commented on #629
Filed: https://issuetracker.unity3d.com/issues/pen-editor-pen-position-is-not-consistent-with-mouse-position-in-custom-editor-window
Closing.

[2019-05-23 19:58] #629 closed, assigned to nobody

[2019-05-23 21:21] JiaUnity commented on #630
Filed: https://issuetracker.unity3d.com/product/unity/issues/guid/1157144/
Closing.

[2019-05-23 21:21] #630 closed, assigned to nobody

[2019-05-23 21:26] JiaUnity commented on #632
@XelfXendr Would you be able to attach a minimal repro project to demonstrate the issue?
Also, you may get more help in the forum for a solution: https://forum.unity.com/forums/new-input-system.103/

[2019-05-23 21:44] JiaUnity commented on #637
"Continuous" means the action would trigger every Update, which does not happen in a fixed time span.
Please try our forum for the Input System. You may get more help from the community there: https://forum.unity.com/forums/new-input-system.103/

[2019-05-23 22:04] s-ol commented on #637
@JiaUnity it would be fine like that, but it's not really what happens: if i move my mouse for action A and press keys for composite action B *at the same time* l, then, even though both actions are composite actions, the action A callback is called more frequently (with performed set to true) than action B.

[2019-05-24 06:40] jechter commented on #624
Yes, this should work in 0.2.10. Could we get a repro project to look at?

[2019-05-24 08:05] berMip commented on #607
I'm afraid not. It happens so randomly that I have absolutely no idea how to reproduce it. One thing we have observed is that the restart only seems to fix the issue if unity got opened. When our QA had the issue with a build we provided, the issue remained even after restarts. Afterwards we opened unity to verify if it actually is that issue. After a restart afterwards the issue was gone on that

[2019-05-24 12:47] XelfXendr commented on #632
Unity version: 2019.3.0a2
InputSystem version: 0.2.10-preview
Small project repo: https://github.com/XelfXendr/InputTest

Try using WASD to change the position of the green knob.

Stuff is probably working as intended and I probably misunderstand how it's supposed to be working. Since the behaviour doesn't match my expectations, I thought I'd let you know.

My expectation: .performed being called

[2019-05-25 06:11] IsaacInsoll commented on #624
Thanks for the info @jechter .
I've created a new project which is available as a 26kb ZIP file here:
https://drive.google.com/file/d/1Uy-TAvBkoMmaxcizrj_b4bz_NpT5kDo8/view?usp=sharing

Created on windows in 2019.1.3 and 2.10 InputSystem.
- Added new PlayerInput via Package Manager. Switched to using it.
- Added a Canvas, Panel, a few buttons.
- I was prompted to add the new InputSystem UI manager

[2019-05-26 03:20] hwaet opened #646 ""Handle is not allocated" when exiting play mode, with duplicate objects"
I've noticed that the system throws an error when exiting play mode, if there are several objects that subscribe to actions in the same action map:

This happens in my project where there are several active objects on screen listening for the player's inputs. I noticed that the same thing happens in the simpleDemo project in this repo, if I duplicate the player object and then enter/exit play mode

[2019-05-26 13:57] adamzl opened #647 "Scroll wheel events trigger from mouse movement"
Issue: If you set an Action to have a Binding to scroll/y the mouse position movement will cause previous scroll wheel inputs to re-fire.

Reproduction:
1. New Action Map, new Action.
2. Add Binding
3. Path = Mouse -> Scroll -> Y
4. Debug.Log the triggered callback.

Observe that initially moving the mouse position does nothing, use the scroll wheel and observe callbacks. Then move the mouse posit

[2019-05-27 08:49] #572 closed, assigned to nobody

[2019-05-28 06:57] flame99999 opened #649 "Input system wouldn't process input events when unity in running without focus"
I'm using InputSystem.QueueStateEvent to feed input event into Unity. The events are being processed normally when unity is running with current focus, but totally ignored when unity is running in the background.  Also, I have checked "run in background" in the player settings.

[2019-05-28 14:14] stefanunity commented on #643
Made this into a bug at https://issuetracker.unity3d.com/product/unity/issues/guid/1158303/

[2019-05-31 04:59] eblabs opened #652 "[0.2.6]->[0.2.10] How to access InputActions after upgrading? [inputActions no longer Serializable]"
Hi,
I just upgraded from [0.2.6] and it seems like its no longer possible to drag the ##.inputActions file from the project into a field in the inspector. Are .inputAction files no longer a serializable type?

How is this now handled?

![image](https://user-images.githubusercontent.com/5941510/58682497-a06c6e00-8325-11e9-963b-3ddb3e208d41.png)

![image](https://user-images.githubusercontent.com/59

[2019-05-31 05:18] eblabs commented on #652
Just doing some additional digging, it looks like the type of script auto generated has changed:
![image](https://user-images.githubusercontent.com/5941510/58683283-c7786f00-8328-11e9-8b8c-474f18349c11.png)
Still not any closer to figuring this out...

[2019-05-31 05:30] eblabs commented on #518
Looks like there have been many updates to the demo scene files and Im up and running as well. Thanks for everyone's help! Closing :)

[2019-05-31 05:30] #518 closed, assigned to nobody

[2019-05-31 17:05] Wokarol opened #653 "C# script is in wrong folder"
C# Class File on ActionMap has "Assets.." in front of it, and because of that it creates Assets folder inside normal assets folder
![image](https://user-images.githubusercontent.com/38141841/58722228-39a78d00-83d7-11e9-8e43-84ce2e6dc4de.png)

[2019-05-31 17:06] Wokarol commented on #653
![image](https://user-images.githubusercontent.com/38141841/58722216-30b6bb80-83d7-11e9-9e94-cccbc57811a3.png)

[2019-05-31 17:59] Wokarol commented on #652
I figured it out. You don't have to do this because asset is just a template. You can just do
[code]

[2019-05-31 19:20] eblabs commented on #652
Hi, thanks @Wokarol.

I did notice that method in the new examples. Although I have several game objects that need to reference the same controller and it doesn't make sense to create a new instance everytime its needed, and Id prefer not to manage assigning it manually in every case.

Up until 0.2.8, this was working. Actually the way it was working was very similar to the Scriptable Object workf

[2019-05-31 19:41] Wokarol commented on #652
Only way I can think of is using lightweight pattern and create some class that will just create instance. That way you will just do something like `InputControlsUtils.Instance`, you can use extensions method to do `InputControls.Instance()`

[2019-05-31 21:55] eblabs commented on #652
Thanks @Wokarol. Yes, for sure, I could do a singleton pattern. Although there are some great benefits to using a ScriptableObjects-type workflow that allows for better interchangeability/hot-swapping and asset based management.

Hi @Rene-Damm, do you have any thoughts on the change from "InputActionAssetReference" to  "inputActionCollection"? We seemed to have lost the ability to drag the inputAc

[2019-05-31 21:58] Wokarol commented on #652
You can use ScriptableObjects to hold input actions, it's like any other class. It's better that way because before you had only one ScriptableObject in assets folder anyways (It would break otherwise), so hot swapping wasn't possible.